<header>
    <section class="container-general">
        <div class="caja-one">
            <div>
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="caja-padre-logo">
                <a href="/">
                    <img src="/images/logos/logo-arpeggio.JPG" class="img-logo" alt="Logo de Arpeggio Music">
                </a>                    
            </div>
            <div>
                <a href="/productCart"><i class="fa-solid fa-cart-plus"></i></a>
            </div>
        </div>
        <div class="nav-bar">
            <div class="second-img-logo">
                <a href="/"><img src="/images/logos/logo-arpeggio.JPG" class="img-logo-ar" alt=""></a>
            </div>
            <div class="caja-searchbar">
                <div class="box">
                    <input type="search" placeholder="Burcar" class="src">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="barra-menu">
                    <ul class="lista-menu">
                        <li><a href="/store">Tienda</a></li>
                        <li><a href="/store">Ofertas</a></li>
                        <li><a href="/about">Sobre nosotros</a></li>
                        <li><a href="/shipping">Envios</a></li>
                        <!-- <li><a class="remove-border" href="#">Cursos</a></li> -->
                    </ul>
                </div>
            </div>
            <div class="register-bar">
                <div class="caja-login">
                    <a href="/userProfile"><i class="fa-regular fa-circle-user"></i></a>
                    <ul class="lista-login">
                        <li id="text-log-in"><a href="/userLogin">Log in</a></li>
                        <li><a href="/userRegister">Sign up</a></li>
                    </ul>
                </div>
                <div class="cart">
                    <a href="/productCart"><i class="fa-solid fa-cart-plus"></i></a> 
                </div>
            </div>
        </div>
    </section>
</header>