main { 
    margin: 0;
    text-align: center;
    background-color: white;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Roboto; */
  text-decoration: none;
}

.slider-container {
  width: 100%;
  position: relative;
}

.slide {
  width: 100%;
  display: none;
}

.slide-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.6);
}

.slide-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  padding: 1rem;
}
.slide-title {
  width: 100%;
  max-width: 50rem;
  color: white;
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
}
.slide-desc {
  width: 100%;
  max-width: 50rem;
  color: lightgray;
  font-size: 1rem;
  font-weight: 300;
}
.slide-btn {
  color: black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  transition: ease 0.3s;
}
.slide-btn:hover {
  gap: 1rem;
}

.slide-number-container {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 5;
  font-size: 1.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: rgba(211, 211, 211, 0.788);
  letter-spacing: 0.2rem;
}
.slide-number-container hr {
  width: 3rem;
  transform: rotate(130deg);
  border-color: rgba(211, 211, 211, 0.788);
}

.slider-nav {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.slider-nav-btn {
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.226);
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease 0.3s;
}
.slider-nav-btn:hover {
  background-color: white;
  color: black;
}

.dot-container {
  position: absolute;
  bottom: 1rem;
  left: 0;
  z-index: 4;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  background-color: rgba(211, 211, 211, 0.226);
  border-radius: 50%;
  display: inline-block;
  transition: ease 0.3s;
}
.active,
.dot:hover {
  background-color: white;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}
@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

.imgMaxBox{
  width: 100vw;
  max-height: 51vw;
}

.slide img {
    /* width: 100%; */
    /* max-height: 51vw; */
    /* height: 51vw; */
    aspect-ratio: 9/16;
    width: 100%;
    max-height: 51vw;
    object-fit: cover;
}



















.float-text {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: rgba(120, 120, 120, 50%);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1px black; /* WebKit browsers (Safari) */
    text-stroke: 1px black; /* Future compatibility */
}

.brands-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    color: white;
    text-align: center;
    margin: 25px 10px 0px 10px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.brands {
    width: 22vw;
    height: auto;
    margin: 5px;
}

.container-items {
    border-color: white;
    border: 2px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
    color: black;
    text-align: center;
}

.item-box {
    position: relative;
    width: 40vw;
    height: 250px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 15px;
}

.logos {
    width: 20vw;
    height: auto;
    margin: 5px;
}

.img-responsive {
    aspect-ratio: 9/16;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.text-in-categories {
    position: absolute;
    padding: 15px;
    top: 80%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, .75);
}

.text-in-product-box {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    color: white;
    background-color: rgba(0, 0, 0, .75);
}

.text-in-product-box-hover{
    position: absolute;
    top: 80%;
    left: 50%;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    color: rgb(30, 30, 30);
    background-color: rgb(141, 134, 134);
}

.text-in-product-box-hover_v2{
    position: absolute;
    top: 82%;
    left: 50%;
    width: 100%;
    min-height: 90px;
    max-height: 90px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    color: white;
    background-color: black;
}

.text-hiden{
    display: none;
}

.sub-title {
    display: inline-block;
    width: 100%;
    color: white;
    font-size: 25px;
    text-align: center;
    background-color: black;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 95%;
    }







.article-other{
    display: flex;
    width: 40%;
    height: 250px;
    margin-bottom: 15px;
    /* margin: 10px; */
    position: relative;
    transition: all 0.5s;
    box-sizing: border-box;
}
.article-other:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.article-other img{
    width: 100%;
}

.article-other a {
    width: 100%;
}

.box-article-charact{
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    overflow: hidden;
    transition: all 0.5s;
}
.box-article-charact h5{
    font-size: 16px;
    margin: 5px;
    color: black;
    margin-top: 10px;
}
.box-article-charact p{
    font-size: 12px;
    margin: 5px;
    color: black;
    visibility: hidden;
}
.box-article-charact .price-art{
    font-size: 12px;
    margin: 5px;
    visibility: hidden;
}
.box-article-charact:hover{
    height: 45%;
    background-color: #ebebeb;
}
.box-article-charact:hover p{
    visibility: visible;
}
.box-article-charact:hover .price-art{
    visibility: visible;
}



@media (min-width: 768px) {
    .article-other {
        width: 22%;
    }

    .item-box {
        width: 22vw;
    }

    .brands-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: black;
        color: white;
        text-align: center;
        margin: 25px 25px 25px 25px;
        border-radius: 5px;
    }
}
/* 
@media (min-width: 1200px) {
    .item-box {
        width: 10vw;
    }
} */