main { 
    text-align: center;
    background-color: white;
}

.slider {
    position: relative;
    display: inline-block;
    justify-content: center;
    text-align: center;
    background-color: black;
    margin-bottom: 25px;
}

.slider img {
    width: 100%;
    height: auto;
}

.float-text {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: rgb(30, 30, 30);
    background-color: rgba(120, 120, 120, 50%);
}

.brands-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    color: white;
    text-align: center;
    /* margin-top: 25px;
    margin-bottom: 25px; */
    padding-top: 25px;
    padding-bottom: 25px;
}

.brands {
    width: 22vw;
    height: auto;
    margin: 5px;
}

.container-items {
    border-color: white;
    border: 2px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
    color: black;
    text-align: center;
}

.item-box {
    position: relative;
    width: 40vw;
    height: 250px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 15px;
}

.logos {
    width: 20vw;
    height: auto;
    margin: 5px;
}

.img-responsive {
    aspect-ratio: 9/16;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-in-categories {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, .75);
}

.text-in-product-box {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    color: white;
    background-color: rgba(0, 0, 0, .75);
}

.text-in-product-box-hover{
    position: absolute;
    top: 80%;
    left: 50%;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    color: rgb(30, 30, 30);
    background-color: rgb(141, 134, 134);
}

.text-in-product-box-hover_v2{
    position: absolute;
    top: 82%;
    left: 50%;
    width: 100%;
    min-height: 90px;
    max-height: 90px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    color: white;
    background-color: black;
}

.text-hiden{
    display: none;
}

.sub-title {
    display: inline-block;
    width: 100%;
    color: white;
    font-size: 25px;
    text-align: center;
    background-color: black;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 95%;
    }







.article-other{
    display: flex;
    width: 40%;
    height: 250px;
    margin-bottom: 15px;
    /* margin: 10px; */
    position: relative;
    transition: all 0.5s;
    box-sizing: border-box;
}
.article-other:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.article-other img{
    width: 100%;
}

.article-other a {
    width: 100%;
}

.box-article-charact{
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    overflow: hidden;
    transition: all 0.5s;
}
.box-article-charact h5{
    font-size: 16px;
    margin: 5px;
    color: black;
    margin-top: 10px;
}
.box-article-charact p{
    font-size: 12px;
    margin: 5px;
    color: black;
    visibility: hidden;
}
.box-article-charact .price-art{
    font-size: 12px;
    margin: 5px;
    visibility: hidden;
}
.box-article-charact:hover{
    height: 45%;
    background-color: #ebebeb;
}
.box-article-charact:hover p{
    visibility: visible;
}
.box-article-charact:hover .price-art{
    visibility: visible;
}



@media (min-width: 768px) {
    .article-other {
        width: 22%;
    }

    .item-box {
        width: 22vw;
    }

    .brands-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: black;
        color: white;
        text-align: center;
        margin: 0px 25px 25px 25px;
        border-radius: 5px;
    }
}
/* 
@media (min-width: 1200px) {
    .item-box {
        width: 10vw;
    }
} */