@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

main{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}
.container-order-shop{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 50px;
    box-sizing: border-box;
}
.container{
    margin: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.first-title{
    margin: 0;
}
.text-titles{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    justify-content: space-around;
}
.fa-image{
    color: white;
}
.text-category{
    display:none;
}
.title-name{
    margin: 5px 0;
    color: white;
}
.title-price{
    margin: 5px 0;
    color: white;
    display: none;
}
.text-date{
    display: none;
}
.update{
    display: none;
}
.box-articles{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}
article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #ebebeb;
    margin: 3px 15px;
}
article a{
    text-decoration: none;
}
article img{
    width: 35%;
    padding: 5px 5px 0px 5px;
}
.text-name-price-charac{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 55%;
}
.text-charact{
    font-size: 13px;
    margin: 5px 0;
    color: black;
}

.text-price{
    font-size: 13px;
    font-weight: 500;
    margin: 5px 0;
    margin-bottom: 5px;
    color: black;
}
.text-name-price-charac a{
    color: white;
    background-color: black;
    text-align: center;
    font-weight:400;
    font-size: 14px;
    width: 55%;
    padding: 5px;
    transition: all 0.5s;
    box-sizing: border-box;
}
.text-name-price-charac a:hover{
    background-color: white;
    color: black;
    box-shadow: 0px 0px 5px rgb(100, 100, 100);
}
.box-category{
    display: none;
}
.box-date{
    display: none;
}
.text-price-second{
    display: none;
}

@media (min-width: 800px){
    .container-general{
        padding-bottom: 20px;
    }
    .container{
        margin: 10px 20px;
    }
    .first-title{
        margin: 0;
    }
    .text-titles{
        padding: 0px 20px;
        justify-content: space-between;
    }
    .fa-image{
        width: 10%;
        text-align: center;
    }
    .title-name{
        width: 35%;
        padding-left: 5px;
        font-weight: 500;
        box-sizing: border-box;
    }
    .title-price{
        display: block;
        font-size: 14px;
        font-weight: 500;
        width: 15%;
        text-align: center;
        box-sizing: border-box;
    }
    .text-category{
        display: block;
        width: 15%;
        color: white;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        margin: 5px 0;
    }
    .text-date{
        display: block;
        width: 15%;
        color: white;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        margin: 5px 0;
    }
    .text-price{
        display: none;
    }
    article{
        margin: 3px 20px;
    }
    article img{
        width: 10%;
        padding: 2px;
        box-sizing: border-box;
    }
    .text-name-price-charac{
        width: 35%;
        box-sizing: border-box;
    }
    .box-category{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
        box-sizing: border-box;
    }
    .box-date{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
        box-sizing: border-box;
    }
    .text-price-second{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        box-sizing: border-box;
    }
    .text-charact{
        font-size: 12px;
    }
    .text-name-price-charac a{
        font-size: 13px;
        box-shadow: none;
        color: white;
        width: 30%;
        background-color: black;
        transition: all 0.5s;
        box-sizing: border-box;
    }
    .text-name-price-charac:hover a{
        color: black;
        background-color: white;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .text-price-second p {
        font-size: 13px;
    }
    .box-category p{
        font-size: 13px;
    }
    .box-date p{
        font-size: 13px;
    }
}
@media (min-width:1200px){
    .first-title, .box-articles{
        max-width: 1200px;
        margin: auto;
    }
    .container-titles{
        background-color: black;
    }
    .text-titles{
        max-width: 1200px;
        margin: auto;
        padding: 0 ;
    }
    .first-title{
        width: 100%;
        padding: 10px 0;
        box-sizing: border-box;
    }
    article{
        margin: 2px 0px;
    }
}