main {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: white;
}

.container-flex {
    max-width: 1250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.filter-products {
    background-color: black;
    color: white;
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', 'sans-serif';
    width: 100vw;
}

.filter-container-items{
    display: block;
    flex-wrap: wrap;
    text-align: start;
    margin-top: 15px;
    margin: 15px;
}

.input-filters {
    margin-left: 5%;
}

.input-price{
    width: 100%;
    margin-bottom: 15px;
}

.center-elements{
    text-align: center;
}

.input-price-container {
    max-width: 90%;
}

.container-items {
    border-color: white;
    border: 2px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    color: black;
    text-align: center;
    margin-top: 25px;
}

.item-box {
    position: relative;
    width: 40%;
    height: 250px;
    background-color: white;
    margin-bottom: 15px;
}

/* .item-box {
    position: relative;
    width: 40%;
    height: 250px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 15px;
} */

.img-responsive {
    aspect-ratio: 9/16;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.text-in-product-box {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    /* color: rgb(30, 30, 30); */
    /* background-color: rgba(120, 120, 120, 50%); */
    color: white;
    background-color: rgba(0, 0, 0, .75);
}

.text-in-product-box-hover{
    position: absolute;
    top: 80%;
    left: 50%;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    transform: translate(-50%, -50%);
    color: rgb(30, 30, 30);
    background-color: rgb(141, 134, 134);
}

.text-in-product-box-hover_v2{
    position: absolute;
    top: 82%;
    left: 50%;
    width: 100%;
    min-height: 90px;
    max-height: 90px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    color: white;
    background-color: black;
    /* color: rgb(30, 30, 30);
    background-color: rgb(141, 134, 134); */
}


.article-other{
    display: flex;
    width: 40%;
    height: 250px;
    margin-bottom: 15px;
    /* margin: 10px; */
    position: relative;
    transition: all 0.5s;
    box-sizing: border-box;
}
.article-other:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.article-other img{
    width: 100%;
}

.article-other a {
    width: 100%;
}

.box-article-charact{
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    overflow: hidden;
    transition: all 0.5s;
}
.box-article-charact h5{
    font-size: 16px;
    margin: 5px;
    margin-top: 10px;
}
.box-article-charact p{
    font-size: 12px;
    margin: 5px;
    visibility: hidden;
}
.box-article-charact .price-art{
    font-size: 12px;
    margin: 5px;
    visibility: hidden;
}
.box-article-charact:hover{
    height: 45%;
    background-color: #ebebeb;
}
.box-article-charact:hover p{
    visibility: visible;
}
.box-article-charact:hover .price-art{
    visibility: visible;
}

.btn-page{
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 10px; /* Ajusta este valor para controlar la redondez de los bordes */
    cursor: pointer;
}

.btn-page-selected{
    padding: 10px 20px;
    font-size: 16px;
    background-color:  #3498db;
    color: #fff;
    border: none;
    border-radius: 10px; /* Ajusta este valor para controlar la redondez de los bordes */
    cursor: pointer;
}

/* Estilo del botón de toggle en todas las pantallas */
.filter-toggle-button {
    border-radius: 3px;
    margin: 5px;
    background: white;
    border: white 1px ;
    cursor: pointer;
    font-weight: bold;
    display: block; /* Mostrar en todas las pantallas */
}

/* Estilo del contenido de filtros en pantallas grandes */
.filter-container-items {
    display: none; /* Ocultar en pantallas pequeñas */
}

/* Estilo para mostrar contenido de filtros cuando la clase "show-filters" está presente */
.show-filters {
    display: block !important; /* !important asegura que se muestre en pantallas grandes */
}



@media (min-width: 768px) {

    .filter-container-items {
        display: block;
    }
    .filter-toggle-button {
        display: none; /* Ocultar en pantallas grandes */
    }

    .article-other {
        width: 30%;
    }

    .item-box {
        width: 30%;
    }

    .filter-container-items {
        border-radius: 5px;
        /* margin: 15px; */
    }

    .filter-products{
        max-width: 25%;
        margin: 25px;
        margin-right: 0px;
        margin-left: 0px;
        display: inline-block;
    }

    .container-items {
        width: 65%;
        display: inline-block;
        /* margin-top: 25px; */
    }
}

@media (min-width: 1200px) {
    .article-other {
        width: 23%;
    }

    .filter-products{
        max-width: 20%;
    }

    .container-items {
        width: 75%;
    }

    .item-box {
        width: 23%;
    }
}
/*
@media (min-width: 1200px) {
    .item-box {
        width: 10vw;
    }
} */











