<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Arpeggio Music</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/about.css">
</head>
<body>
    <header>
        <section class="container-general">
            <div class="caja-one">
                <div>
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="caja-padre-logo">
                    <a href="/">
                        <img src="/images/logos/logo-arpeggio.JPG" class="img-logo" alt="Logo de Arpeggio Music">
                    </a>                    
                </div>
                <div>
                    <a href="/productCart"><i class="fa-solid fa-cart-plus"></i></a>
                </div>
            </div>
            <div class="nav-bar">
                <div class="second-img-logo">
                    <a href="/"><img src="/images/logos/logo-arpeggio.JPG" class="img-logo-ar" alt=""></a>
                </div>
                <div class="caja-searchbar">
                    <div class="box">
                        <input type="search" placeholder="Burcar" class="src">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="barra-menu">
                        <ul class="lista-menu">
                            <li><a href="/store">Tienda</a></li>
                            <li><a href="/store">Ofertas</a></li>
                            <li><a href="/about">Sobre nosotros</a></li>
                            <li><a href="/shipping">Envios</a></li>
                            <!-- <li><a class="remove-border" href="#">Cursos</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="register-bar">
                    <div class="caja-login">
                        <a href="/userProfile"><i class="fa-regular fa-circle-user"></i></a>
                        <ul class="lista-login">
                            <li id="text-log-in"><a href="/userLogin">Log in</a></li>
                            <li><a href="/userRegister">Sign up</a></li>
                        </ul>
                    </div>
                    <div class="cart">
                        <a href="/productCart"><i class="fa-solid fa-cart-plus"></i></a> 
                    </div>
                </div>
            </div>
        </section>
    </header>
    <main>
        <div class="text-container">
            <h1>Sobre nosotros</h1>
            <h2>Arpeggio Music</h2>
            <p>
                Desde guitarras criollas para principiantes hasta micrófonos y amplificadores profesionales, la tienda de instrumentos musicales online Baires Rocks dispone de una amplia gama de equipamiento musical. No importa si lo que buscas es un micrófono, un teclado musical, una batería electrónica o un bajo eléctrico, siempre te daremos asesoramiento en lo que necesites. <br>
                Tenemos algunas de las marcas más populares en stock, tales como Fender, Roland, Casio, Marshall, Ibanez,Behringer y Shure, sin olvidar que somos distribuidores oficiales Yamaha para instrumentos musicales y audio en Argentina. <br>
                Buscamos darte un excelente servicio y un gran precio en tu próxima compra de instrumentos musicales. <br>
            </p>
        </div>
        <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.004828119209!2d-58.619045304948564!3d-34.57874438688172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb9d7b20aac3b%3A0xd2bfb269a20ada08!2sARPEGIOS%20Escuela%20de%20M%C3%BAsica!5e0!3m2!1ses-419!2sar!4v1683637533566!5m2!1ses-419!2sar" width="1080" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </main>
    <footer>
        <div id="footer-sections">
            <div class="footer-section">
                <h4>Términos y condiciones</h4>
                <p>Condiciones de pagos</p>
                <p>Problemas de envios, compras</p>
                <p>Preguntas Frecuentes</p>
                <p>Botón de arrepentimiento</p>
            </div>
            <div class="footer-section">
                <h4>Redes sociales</h4>
                <p><i class="fa-brands fa-instagram"></i>Instagram</p>
                <p><i class="fa-brands fa-facebook"></i>Facebook</p>
                <p><i class="fa-brands fa-twitter"></i>Twitter</p>
            </div>
            <div class="footer-section">
                <h4>Contacto</h4>
                <p><i class="fa-brands fa-whatsapp"></i>00-0000-0000</p>
                <p><i class="fa-solid fa-envelope"></i>arpeggiomusic@gmail.com</p>
                <p>Sucursales</p>
            </div>
        </div>
        <div id="footer-fiscal-data">
            <img src="" alt="">
            <h4>Data fiscal</h4>
        </div>
        <div id="footer-copyright">
            <p>Copyright 1000-0000 ArpeggioMusic <a href="">Políticas de privacidad</a></p>
        </div>
    </footer>
</body>
</html>