<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorías</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/category.css">
</head>

<body>
        <main>
            <div class="container">
                <form action="/category" method="post" class="bar-select">
                    <label>Categorías de productos:</label>
                    <% cate.forEach( category => { %>
                        <div class="category-form">
                            <div>
                                <p><b>Instrumento: </b><%=category.name%></p>
                            </div>
                            <div>
                                <button class="btn-category" type="submit">Editar</button>
                                <button class="btn-category" type="submit">Eliminar</button>
                            </div>
                    </div>
                    <% }) %>
                </form>
            </div>
            <button class="btn-category" type="submit">Crear</button>
            </div>
            </div>
        </main>
        <%- include('./partials/footer') %>
</body>
</html>