<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra
    </title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/productCat.css">
</head>

<body>
    <<%- include('./partials/header') %>
    </main>
    <footer>
        <footer>
            <div class="footer-container">
                <div class="footer-section">
                    <h4>Términos y condiciones</h4>
                    <p>Condiciones de pagos</p>
                    <p>Problemas de envios, compras</p>
                    <p>Preguntas Frecuentes</p>
                    <p>Botón de arrepentimiento</p>
                </div>
                <div class="footer-section">
                    <h4>Redes sociales</h4>
                    <p><i class="fa-brands fa-instagram"></i>Instagram</p>
                    <p><i class="fa-brands fa-facebook"></i>Facebook</p>
                    <p><i class="fa-brands fa-twitter"></i>Twitter</p>
                </div>
                <div class="footer-section">
                    <h4>Contacto</h4>
                    <p><i class="fa-brands fa-whatsapp"></i>00-0000-0000</p>
                    <p><i class="fa-solid fa-envelope"></i>arpeggiomusic@gmail.com</p>
                    <p>Sucursales</p>
                </div>
            </div>
            <div id="footer-fiscal-data">
                <img src="" alt="">
                <h4>Data fiscal</h4>
            </div>
            <div id="footer-copyright">
                <div class="copyright-center">
                    <p>Copyright 1000-0000 ArpeggioMusic <a href="">Políticas de privacidad</a></p>
                </div>
            </div>
        </footer>
    </footer>


</body>

</html>