<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/categoryEdit.css">
  
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <div class="general">
                <form action="/category"  method="post" enctype="multipart/form-data">
                    <div class="name">
                    <label>
                        Nombre:
                    </label>
                    <input class="text" type="text" name="name">
                </div>
                <input type="file"accept=".png, .jpg, .jpge" name="img" id="img">
                    <div class="button">
                        <% if (action === 'create') { %>
                            <button class="btn-black" type="submit">Guardar</button>
                        <%} else if (action === "update") { %>
                            <button class="btn-black" type="submit">Cargar</button>
                        <% } %>
                    </div>
            </form>
        </div>
         



          
        </main>
        <%- include('./partials/footer') %>

</body>

</html>