<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorías</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/category.css">
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <div class="container">
                <!-- <% if (action=='create' ) { %>
                    <h4 class="category-title">Nueva categoría</h4>
                    <form action="/createProduct" method="POST" class="category-container">
                <%} else { %>
                    <h4 class="category-title">Editar categoría</h4>
                    <form action="/editProduct" method="POST" class="category-container">
                <% } %> -->
                <form action="/category" method="post" class="bar-select">
                    <label>Categorías de productos:</label>
                    <% categoryList.forEach( category=> { %>
                        <div class="category-form">
                            <div>
                                <p><b>Instrumento: </b>
                                    <%=categoryList.instrument%>
                                </p>
                            </div>
                            <div>
                                <button class="btn-category" type="submit">Editar</button>
                                <button class="btn-category" type="submit">Eliminar</button>
                            </div>

                            <!-- <select type="date" name="instruments" class="select-instrument">
                        <option>Seleccioná tu categoría</option>
                        <option>Teclados</option>
                        <option>Guitarras</option>
                        <option>Baterías</option>
                    </select> -->
                </form>
            </div>
            <button class="btn-category" type="submit">Crear</button>
            </div>
            </div>
        </main>
        <%- include('./partials/footer') %>
</body>
</html>