<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />



    <title>Arpeggio Music</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/home.css">

</head>

<body>
    <header>
        <section class="container-general">
            <div class="caja-one">
                <div>
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="caja-padre-logo">
                    <img src="/img/logo-arpeggio.JPG" class="img-logo" alt="Logo de Arpeggio Music">
                </div>
                <div>
                    <i class="fa-solid fa-cart-plus"></i>
                </div>
            </div>
            <nav class="nav-bar">
                <div class="second-img-logo">
                    <img src="/img/logo-arpeggio.JPG" class="img-logo-ar" alt="">
                </div>
                <div class="caja-searchbar">
                    <div class="box">
                        <input type="search" placeholder="Burcar" class="src">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
                <div class="register-bar">
                    <div class="caja-login">
                        <i class="fa-regular fa-circle-user"></i>
                        <ul class="lista-login">
                            <li id="text-log-in"><a href="#">Log in</a></li>
                            <li><a href="#">Sign up</a></li>
                        </ul>
                    </div>
                    <div class="cart">
                        <i class="fa-solid fa-cart-plus"></i>
                    </div>
                </div>
            </nav>
            <div class="barra-menu">
                <ul class="lista-menu">
                    <li><a href="#">Categorías</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Marcas</a></li>
                    <li><a href="#">Envios</a></li>
                    <li><a href="#">Cursos</a></li>
                </ul>
            </div>
        </section>


    </header>

    <main>
        <section class="slider">
            <img src="/img/slider_01.jpg" alt="Imagen de instrumentos de la tienda">
            <div class="float-text">
                <div class="row-direction">> </div>
                <div>TEXTO!!!</div>
                <div class="row-direction">></div>
            </div>
        </section>
        <section class="brands-container">
            <div class="brands"></div>
            <div class="brands"></div>
            <div class="brands"></div>
            <div class="brands"></div>
            <div class="brands"></div>
            <div class="brands"></div>
            <div class="brands"></div>
            <div class="brands"></div>
        </section>
        <p>Categorias</p>
        <section class="container-items">
            <div class="item-box"></div>
            <div class="item-box"></div>
            <div class="item-box"></div>
            <div class="item-box"></div>
        </section>
        <p>Lo mas vendido</p>
        <section class="container-items">
            <div class="item-box"></div>
            <div class="item-box"></div>
            <div class="item-box"></div>
            <div class="item-box"></div>
        </section>
        <p>Ofertas</p>
        <section class="container-items">
            <div class="item-box"></div>
            <div class="item-box"></div>
            <div class="item-box"></div>
            <div class="item-box"></div>
        </section>
    </main>
    <footer>
        <div id="footer-sections">
            <div id="footer-terms" class="footer-section">
                <h4>Términos y condiciones</h4>
                <p>Condiciones de pagos</p>
                <p>Problemas de envios, compras</p>
                <p>Preguntas Frecuentes</p>
                <p>Botón de arrepentimiento</p>
            </div>
            <div id="footer-social-media" class="footer-section">
                <h4>Redes sociales</h4>
                <p><i class="fa-brands fa-instagram"></i>Instagram</p>
                <p><i class="fa-brands fa-facebook"></i>Facebook</p>
                <p><i class="fa-brands fa-twitter"></i>Twitter</p>
            </div>
            <div id="footer-contact" class="footer-section">
                <h4>Contacto</h4>
                <p><i class="fa-brands fa-whatsapp"></i>00-0000-0000</p>
                <p><i class="fa-solid fa-envelope"></i>arpeggiomusic@gmail.com</p>
                <p>Sucursales</p>
            </div>
        </div>
        <div id="footer-fiscal-data">
            <img src="" alt="">
            <h4>Data fiscal</h4>
        </div>
        <div id="footer-copyright">
            <p>Copyright 1000-0000 ArpeggioMusic <a href="">Políticas de privacidad</a></p>
        </div>
    </footer>
</body>

</html>