<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <header>
        <section class="container-general">
            <div class="caja-one">
                <div>
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="caja-padre-logo">
                    <a href="/">
                        <img src="/images/logos/logo-arpeggio.JPG" class="img-logo" alt="Logo de Arpeggio Music">
                    </a>                    
                </div>
                <div>
                    <a href="/productCart"><i class="fa-solid fa-cart-plus"></i></a>
                </div>
            </div>
            <div class="nav-bar">
                <div class="second-img-logo">
                    <a href="/"><img src="/images/logos/logo-arpeggio.JPG" class="img-logo-ar" alt=""></a>
                </div>
                <div class="caja-searchbar">
                    <div class="box">
                        <input type="search" placeholder="Burcar" class="src">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="barra-menu">
                        <ul class="lista-menu">
                            <li><a href="/store">Tienda</a></li>
                            <li><a href="/store">Ofertas</a></li>
                            <li><a href="/about">Sobre nosotros</a></li>
                            <li><a href="/shipping">Envios</a></li>
                            <!-- <li><a class="remove-border" href="#">Cursos</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="register-bar">
                    <div class="caja-login">
                        <a href="/userProfile"><i class="fa-regular fa-circle-user"></i></a>
                        <ul class="lista-login">
                            <li id="text-log-in"><a href="/userLogin">Log in</a></li>
                            <li><a href="/userRegister">Sign up</a></li>
                        </ul>
                    </div>
                    <div class="cart">
                        <a href="/productCart"><i class="fa-solid fa-cart-plus"></i></a> 
                    </div>
                </div>
            </div>
        </section>
    </header>
    <main>
    <div class="container-form-edit-product">
        <form action="/editProduct" method="POST">
            <div>
                <label for="nombre">Nombre</label>
                <input type="nombre" name="nombre" id="nombre">
            </div>
            <div>
                <label for="categoria">Categoría</label>
                <input type="categoria" name="categoria" id="categoria">
            </div>
            <div>
                <label for="precio">Precio</label>
                <input type="precio" name="precio" id="precio">
            </div>
            <div>
                <label for="stock">Stock</label>
                <input type="stock" name="stock" id="stock">
            </div>
            <div>
                <label for="color">Color</label>
                <input type="color" name="color" id="color">
            </div>
            <div>
                <label for="imagen">Imagen</label>
                <input type="file" name="imagen" id="imagen">
            </div>
            <div>
                <label for="descripcion">Descripción del producto</label>
                <input type="" name="descripción" id="descripción">
            </div>
        </form>
        <div>
            <button>Cargar</button>
        </div>
    </div>
</main>
    
</body>
</html>
