<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arpeggio Music</title>
    <link rel="stylesheet" href="/public/styles/index.css">
    <link rel="stylesheet" href="/public/styles/productCart.css">
</head>
<body>
    <header>
        <div>
            <img src="" alt="Logo de Arpeggio Music">
        </div>
        <div>
            <input type="search" placeholder="Burcar productos, marcas">
            <nav>
                <ul>
                    <li>categorias</li>
                    <li>Ofertas</li>
                    <li>Marcas</li>
                    <li>Envios</li>
                    <li>Cursos</li>
                </ul>
            </nav>
        </div>
        <div>
            <img src="" alt="login"> Login
        </div>
        <div>Sign Up</div>
        <div><img src="" alt="Carrito de compras"></div>
    </header>
    <main>
        
    </main>
    <footer>
        <section>Contacto</section>
        <section>Redes sociales</section>
        <section>Newsletter</section>
        <section>About / sobre mi... </section>
        <section>Politicas de privacidad COCKIES!!!</section>
    </footer>
</body>
</html>
