<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra
    </title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/productCat.css">
</head>

<body>
    <header>
        <section class="container-general">
            <div class="caja-one">
                <div>
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="caja-padre-logo">
                    <a href="/">
                        <img src="/images/logos/logo-arpeggio.JPG" class="img-logo" alt="Logo de Arpeggio Music">
                    </a>
                </div>
                <div>
                    <a href="/productCart"><i class="fa-solid fa-cart-plus"></i></a>
                </div>
            </div>
            <div class="nav-bar">
                <div class="second-img-logo">
                    <a href="/"><img src="/images/logos/logo-arpeggio.JPG" class="img-logo-ar" alt=""></a>
                </div>
                <div class="caja-searchbar">
                    <div class="box">
                        <input type="search" placeholder="Burcar" class="src">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="barra-menu">
                        <ul class="lista-menu">
                            <li><a href="/store">Tienda</a></li>
                            <li><a href="/store">Ofertas</a></li>
                            <li><a href="/about">Sobre nosotros</a></li>
                            <li><a href="/shipping">Envios</a></li>
                            <!-- <li><a class="remove-border" href="#">Cursos</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="register-bar">
                    <div class="caja-login">
                        <a href="/userProfile"><i class="fa-regular fa-circle-user"></i></a>
                        <ul class="lista-login">
                            <li id="text-log-in"><a href="/userLogin">Log in</a></li>
                            <li><a href="/userRegister">Sign up</a></li>
                        </ul>
                    </div>
                    <div class="cart">
                        <a href="/productCart"><i class="fa-solid fa-cart-plus"></i></a>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <main>
        <div class="contenedor-general">
    
            <section class="bar">
                <div>
                    <h3 class="title">Instrumentos de Cuerda</h3>
              
                <div>
                    <h4>Marcas</h4>
                    <p>Yamaha</p>
                    <p>Pearls</p>
                    <p>Marshall</p>
                    <p>Samson</p>
                    <p>Casio</p>
                    <p>Jackson</p>
                </div>
                <div>
                    <h4>Precios</h4>
                </div>
                <div class="categorias">
                    <h3>Categorias</h3>
                    <div>
                        <h5>Percusion</h5>
                        <p>Bateria</p>
                        <p>Bombo</p>
                        <p>Mostrar Mas </p>
                    </div>
                    <div>
                        <h5>Cuerda</h5>
                        <p>Guitarra</p>
                        <p>Bajo</p>
                        <p>Mostrar Mas</p>
                    </div>
                    <div>
                        <h5>Viento</h5>
                        <p>Piano</p>
                        <p>Saxofon</p>
                        <p>Mostrar Mas</p>
                    </div>
                    <div>
                        <h5>Equipo de Sonido</h5>
                        <p>Microfono</p>
                        <p>Cables</p>
                        <p>Mostrar Mas</p>
                    </div>
                </div>
                <div>
                    <h3>Tiempo de Entrega</h3>
                    <p>Llega en menos de 24 hs.</p>

                </div>


            </section>

            <section class="products">
                <article class="product">
                    <img src="/images/productos/bajo.png" alt="">
                    <div class="text">
                        <p class="detail">Bajo Yamaha Trbx174 - 4 Cuerdas</p>
                        <p class="price">$100.000</p>

                    </div>


                </article>

                <article class="product">
                    <img src="/images/productos/bajo.png" alt="">
                    <div class="text">
                        <p class="detail">Bajo Yamaha Trbx174 - 4 Cuerdas</p>
                        <p class="price">$100.000</p>

                    </div>


                </article>
                <article class="product">
                    <img src="/images/productos/bajo.png" alt="">
                    <div class="text">
                        <p class="detail">Bajo Yamaha Trbx174 - 4 Cuerdas</p>
                        <p class="price">$100.000</p>

                    </div>


                </article>
                <article class="product">
                    <img src="/images/productos/piano.png" alt="">
                    <div class="text">
                        <p class="detail">Bajo Yamaha Trbx174 - 4 Cuerdas</p>
                        <p class="price">$100.000</p>

                    </div>


                </article>
                <article class="product">
                    <img src="/images/productos/piano.png" alt="">
                    <div class="text">
                        <p class="detail">Bajo Yamaha Trbx174 - 4 Cuerdas</p>
                        <p class="price">$100.000</p>

                    </div>


                </article>
                <article class="product">
                    <img src="/images/productos/piano.png" alt="">
                    <div class="text">
                        <p class="detail">Bajo Yamaha Trbx174 - 4 Cuerdas</p>
                        <p class="price">$100.000</p>

                    </div>


                </article>





            </section>






        </div>
















    </main>
    <footer>
        <footer>
            <div class="footer-container">
                <div class="footer-section">
                    <h4>Términos y condiciones</h4>
                    <p>Condiciones de pagos</p>
                    <p>Problemas de envios, compras</p>
                    <p>Preguntas Frecuentes</p>
                    <p>Botón de arrepentimiento</p>
                </div>
                <div class="footer-section">
                    <h4>Redes sociales</h4>
                    <p><i class="fa-brands fa-instagram"></i>Instagram</p>
                    <p><i class="fa-brands fa-facebook"></i>Facebook</p>
                    <p><i class="fa-brands fa-twitter"></i>Twitter</p>
                </div>
                <div class="footer-section">
                    <h4>Contacto</h4>
                    <p><i class="fa-brands fa-whatsapp"></i>00-0000-0000</p>
                    <p><i class="fa-solid fa-envelope"></i>arpeggiomusic@gmail.com</p>
                    <p>Sucursales</p>
                </div>
            </div>
            <div id="footer-fiscal-data">
                <img src="" alt="">
                <h4>Data fiscal</h4>
            </div>
            <div id="footer-copyright">
                <div class="copyright-center">
                    <p>Copyright 1000-0000 ArpeggioMusic <a href="">Políticas de privacidad</a></p>
                </div>
            </div>
        </footer>
    </footer>


</body>

</html>