<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Arpeggio Music</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/productCart.css">
</head>

<body>
    <header>
        <section class="container-general">
            <div class="caja-one">
                <div>
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="caja-padre-logo">
                    <a href="/">
                        <img src="/img/logo-arpeggio.JPG" class="img-logo" alt="Logo de Arpeggio Music">
                    </a>
                </div>
                <div>
                    <a href="/productCart"><i class="fa-solid fa-cart-plus"></i></a>
                </div>
            </div>
            <div class="nav-bar">
                <div class="second-img-logo">
                    <a href="/"><img src="/img/logo-arpeggio.JPG" class="img-logo-ar" alt=""></a>
                </div>
                <div class="caja-searchbar">
                    <div class="box">
                        <input type="search" placeholder="Burcar" class="src">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="barra-menu">
                        <ul class="lista-menu">
                            <li><a href="/store">Tienda</a></li>
                            <li><a href="/store">Ofertas</a></li>
                            <li><a href="/about">Sobre nosotros</a></li>
                            <li><a href="/shipping">Envios</a></li>
                            <!-- <li><a class="remove-border" href="#">Cursos</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="register-bar">
                    <div class="caja-login">
                        <a href="/userProfile"><i class="fa-regular fa-circle-user"></i></a>
                        <ul class="lista-login">
                            <li id="text-log-in"><a href="/userLogin">Log in</a></li>
                            <li><a href="/userRegister">Sign up</a></li>
                        </ul>
                    </div>
                    <div class="cart">
                        <a href="/productCart"><i class="fa-solid fa-cart-plus"></i></a>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <main>
        <div class="container">
            <section class="section-article">
                <h5 class="title-cart">Mi Carrito</h5>
                <div class="container-article">
                    <div class="title-first">
                        <p class="product">Producto</p>
                        <p class="price-title">Precio</p>
                        <p class="title-many">Cantidad</p>
                        <p class="title-total">Total</p>
                    </div>
                    <article>
                        <div class="box-img-text">
                            <img src="/img/image 37.jpg" alt="">
                            <div class="box-text-descrip">
                                <h5 class="title-product">Bajo Eléctrico</h5>
                                <p>Bajo Eléctrico Aston Reed Ebs150-20 con funda y cable</p>
                                <p class="price-first">$23.000</p>
                            </div>
                        </div>
                        <div class="price-second">
                            <p>$23.000</p>
                        </div>
                        <div class="container-input-price">
                            <div class="box-input-inc-dec">
                                <button class="decrement"> - </button>
                                <p class="number">1</p>
                                <button class="increment"> + </button>
                            </div>
                            <div class="box-price-delete">
                                <p>$23.000</p>
                                <button class="delete"> x </button>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="box-img-text">
                            <img src="/img/image 38.jpg" alt="">
                            <div class="box-text-descrip">
                                <h5 class="title-product">Microfóno Inalámbrico</h5>
                                <p>Microfóno Inalámbrico AKG P3 S dinámico cardioide negro</p>
                                <p class="price-first">$10.000</p>
                            </div>
                        </div>
                        <div class="price-second">
                            <p>$10.000</p>
                        </div>
                        <div class="container-input-price">
                            <div class="box-input-inc-dec">
                                <button class="decrement"> - </button>
                                <p class="number">1</p>
                                <button class="increment"> + </button>
                            </div>
                            <div class="box-price-delete">
                                <p>$10.000</p>
                                <button class="delete"> x </button>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="box-img-text">
                            <img src="/img/image 39.jpg" alt="">
                            <div class="box-text-descrip">
                                <h5 class="title-product">Teclado Portátil</h5>
                                <p>Teclado Portátil Yamaha Psr-f52 Psr-f52 Psr-f52</p>
                                <p class="price-first">$45.000</p>
                            </div>
                        </div>
                        <div class="price-second">
                            <p>$45.000</p>
                        </div>
                        <div class="container-input-price">
                            <div class="box-input-inc-dec">
                                <button class="decrement"> - </button>
                                <p class="number">1</p>
                                <button class="increment"> + </button>
                            </div>
                            <div class="box-price-delete">
                                <p>$45.000</p>
                                <button class="delete"> x </button>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
            <section class="section-shop-total">
                <div class="container-price">
                    <div class="box-shop-price">
                        <p class="text-shop">Sub. Total</p>
                        <p class="price-shop">$0.00</p>
                    </div>
                    <div class="box-shop-price">
                        <p class="text-shop"><i class="fa-solid fa-tags"></i>Ingresar Código de Cupón</p>
                        <p class="price-shop">% 25 Descuento</p>
                    </div>
                    <div class="box-shop-price">
                        <p class="text-shop">Envío</p>
                        <p class="price-shop">$0.00</p>
                    </div>
                    <div class="box-shop-price">
                        <p class="text-shop">Total</p>
                        <p class="price-shop">$0.00</p>
                    </div>
                </div>
                <div class="box-input">
                    <button class="finaly-button">Finalizar Comprar</button>
                    <button class="more-shop-button">Buscar más</button>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <div id="footer-sections">
            <div class="footer-section">
                <h4>Términos y condiciones</h4>
                <p>Condiciones de pagos</p>
                <p>Problemas de envios, compras</p>
                <p>Preguntas Frecuentes</p>
                <p>Botón de arrepentimiento</p>
            </div>
            <div class="footer-section">
                <h4>Redes sociales</h4>
                <p><i class="fa-brands fa-instagram"></i>Instagram</p>
                <p><i class="fa-brands fa-facebook"></i>Facebook</p>
                <p><i class="fa-brands fa-twitter"></i>Twitter</p>
            </div>
            <div class="footer-section">
                <h4>Contacto</h4>
                <p><i class="fa-brands fa-whatsapp"></i>00-0000-0000</p>
                <p><i class="fa-solid fa-envelope"></i>arpeggiomusic@gmail.com</p>
                <p>Sucursales</p>
            </div>
        </div>
        <div id="footer-fiscal-data">
            <img src="" alt="">
            <h4>Data fiscal</h4>
        </div>
        <div id="footer-copyright">
            <p>Copyright 1000-0000 ArpeggioMusic <a href="">Políticas de privacidad</a></p>
        </div>
    </footer>
</body>