<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Arpeggio Music</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/productCart.css">
</head>

<body>
    <header>
        <section class="container-general">
            <div class="caja-one">
                <div>
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="caja-padre-logo">
                    <a href="/">
                        <img src="/img/logo-arpeggio.JPG" class="img-logo" alt="Logo de Arpeggio Music">
                    </a>                    
                </div>
                <div>
                    <a href="/productCart"><i class="fa-solid fa-cart-plus"></i></a>
                </div>
            </div>
            <div class="nav-bar">
                <div class="second-img-logo">
                    <a href="/"><img src="/img/logo-arpeggio.JPG" class="img-logo-ar" alt=""></a>
                </div>
                <div class="caja-searchbar">
                    <div class="box">
                        <input type="search" placeholder="Burcar" class="src">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="barra-menu">
                        <ul class="lista-menu">
                            <li><a href="/store">Tienda</a></li>
                            <li><a href="/store">Ofertas</a></li>
                            <li><a href="/about">Sobre nosotros</a></li>
                            <li><a href="/shipping">Envios</a></li>
                            <!-- <li><a class="remove-border" href="#">Cursos</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="register-bar">
                    <div class="caja-login">
                        <a href="/userProfile"><i class="fa-regular fa-circle-user"></i></a>
                        <ul class="lista-login">
                            <li id="text-log-in"><a href="/userLogin">Log in</a></li>
                            <li><a href="/userRegister">Sign up</a></li>
                        </ul>
                    </div>
                    <div class="cart">
                        <a href="/productCart"><i class="fa-solid fa-cart-plus"></i></a> 
                    </div>
                </div>
            </div>
        </section>
    </header>
    <main>

        <section class="container0">
            <h4>Home > carrito de compras</h4>
            <h3>Mi carrito</h3>
            <section class="black-bar">
                <section class="flexbox">
                    <div class="container1">
                        <p>Producto </p>
                    </div>
                    <div class="container2">
                        <p>Precio</p>
                    </div>
                    <div class="container3">
                        <p>Cantidad</p>
                    </div>
                    <div class="container4">
                        <p>Total</p>
                    </div>
                </section>
            </section>
            <section class="flexbox">
                <div class="container1">
                    <p class="text-1">Bajo Electrico</p>
                    <p class="text-2">Caracteristicas</p>
                    <p class="text-3">Aston Reed Ebs150-20 con funda y cable</p>
                </div>
                <div class="container2">
                    <p>$23.000</p>
                </div>
                <div class="container3">
                    <p>Cantidad</p>
                </div>
                <div class="container4">
                    <p>$23.000</p>
                </div>
            </section>
            <section class="flexbox">
                <div class="container1">
                    <img src="" alt="">
                    <p class="text-1">Microfono Inalámbrico</p>
                    <p class="text-2">Caracteristicas</p>
                    <p class="text-3">AKG P3 S dinamico cardioide negro</p>
                </div>
                <div class="container2">
                    <p>$10.000</p>
                </div>
                <div class="container3">
                    <p>Cantidad</p>
                </div>
                <div class="container4">
                    <p>$10.000</p>
                </div>
            </section>
            <section class="flexbox">
                <div class="container1">
                    <img src="" alt="">
                    <p class="text-1">Teclado Portatil</p>
                    <p class="text-2">Caracteristicas</p>
                    <p class="text-3">Yamaha Psr-f52</p>
                </div>
                <div class="container2">
                    <p>$45.000</p>
                </div>
                <div class="container3">
                    <p>Cantidad</p>
                </div>
                <div class="container4">
                    <p>45.000</p>
                </div>
            </section>
            <br>
            <br>
            <section class="flexbox">
                <div class="total">
                    <p>Sub. Total</p>
                </div>
                <div class="container2">
                    <p>%25 Descuento</p>
                </div>
            </section>
            <section class="flexbox">
                <div class="total">
                    <p>Cupon</p>
                </div>
                <div class="container2">
                    <p>0</p>
                </div>
            </section>
            <section class="flexbox">
                <div class="total">
                    <p>Total</p>

                </div>
                <div class="container2">
                    <p>0</p>
                </div>
            </section>
            <div class="buttons"><button class="button1">Finalizar Compra</button>
                <button class="button2">Buscar Mas</button>
            </div>
        </section>

        <br>
        <br>




    </main>
    <footer>
        <div id="footer-sections">
            <div class="footer-section">
                <h4>Términos y condiciones</h4>
                <p>Condiciones de pagos</p>
                <p>Problemas de envios, compras</p>
                <p>Preguntas Frecuentes</p>
                <p>Botón de arrepentimiento</p>
            </div>
            <div class="footer-section">
                <h4>Redes sociales</h4>
                <p><i class="fa-brands fa-instagram"></i>Instagram</p>
                <p><i class="fa-brands fa-facebook"></i>Facebook</p>
                <p><i class="fa-brands fa-twitter"></i>Twitter</p>
            </div>
            <div class="footer-section">
                <h4>Contacto</h4>
                <p><i class="fa-brands fa-whatsapp"></i>00-0000-0000</p>
                <p><i class="fa-solid fa-envelope"></i>arpeggiomusic@gmail.com</p>
                <p>Sucursales</p>
            </div>
        </div>
        <div id="footer-fiscal-data">
            <img src="" alt="">
            <h4>Data fiscal</h4>
        </div>
        <div id="footer-copyright">
            <p>Copyright 1000-0000 ArpeggioMusic <a href="">Políticas de privacidad</a></p>
        </div>
    </footer>
</body>