<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Arpeggio Music</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/productDetail.css">
</head>
<body>
    <header>
        <section class="container-general">
            <div class="caja-one">
                <div>
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="caja-padre-logo">
                    <a href="/">
                        <img src="/img/logo-arpeggio.JPG" class="img-logo" alt="Logo de Arpeggio Music">
                    </a>                    
                </div>
                <div>
                    <a href="/productCart"><i class="fa-solid fa-cart-plus"></i></a>
                </div>
            </div>
            <div class="nav-bar">
                <div class="second-img-logo">
                    <a href="/"><img src="/img/logo-arpeggio.JPG" class="img-logo-ar" alt=""></a>
                </div>
                <div class="caja-searchbar">
                    <div class="box">
                        <input type="search" placeholder="Burcar" class="src">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="barra-menu">
                        <ul class="lista-menu">
                            <li><a href="/store">Tienda</a></li>
                            <li><a href="/store">Ofertas</a></li>
                            <li><a href="/about">Sobre nosotros</a></li>
                            <li><a href="/shipping">Envios</a></li>
                            <!-- <li><a class="remove-border" href="#">Cursos</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="register-bar">
                    <div class="caja-login">
                        <a href="/userProfile"><i class="fa-regular fa-circle-user"></i></a>
                        <ul class="lista-login">
                            <li id="text-log-in"><a href="/userLogin">Log in</a></li>
                            <li><a href="/userRegister">Sign up</a></li>
                        </ul>
                    </div>
                    <div class="cart">
                        <a href="/productCart"><i class="fa-solid fa-cart-plus"></i></a> 
                    </div>
                </div>
            </div>
        </section>
    </header>
    <main>
        <article class="container">
            <nav class="container-article">
                <div class="name-product">
                    <h4>Batería Acústica</h4>
                </div>
                <div class="container-img-product-colum">
                    <img src="/img/image 32.jpg" alt="">
                    <img src="/img/image 33.jpg" alt="">
                    <img src="/img/image 34.jpg" alt="">
                    <img src="/img/image 35.jpg" alt="">
                </div>
                <div class="container-img">
                    <img src="/img/image 32.jpg" alt="">
                    <!-- <img src="/img/image 45.jpg" alt=""> -->
                </div>
                <section class="box-text-product">
                    <h4>Batería Acústica</h4>
                    <p class="price">$150.000</p>
                    <p class="discount">20% de descuento</p>
                    <div class="box-characteristics">
                        <h5>Características</h5>
                        <p>Batería Acústica 5 cuerpos 20 14 12 10 Yamaha Rydeen Rdp0f5</p>
                    </div>
                    <div class="box-send">
                        <h5>Envíos</h5>
                        <P>Envios a todo el País<i class="fa-solid fa-truck"></i></P>
                    </div>
                    <div class="container-color">
                        <h5>Seleccione un color</h5>
                        <label for="">Color:</label>
                        <select name="color" id="">
                            <option value="#ff0000">Rojo</option>
                            <option value="#00ff00">Verde</option>
                            <option value="#0000ff">Azul</option>
                            <option value="#000000">Negro</option>
                        </select>
                    </div>
                    <div class="box-stock">
                        <h5>Stock disponible</h5>
                        <div class="container-inc-dec">
                            <label for="cantidad">Cantidad:</label>
                            <button id="decrement"> - </button>
                            <input type="number" min="1" max="50" value="1" id="my-input" readonly>
                            <button id="increment"> + </button>
                        </div>
                    </div>
                    <div class="container-button">
                        <button id="input-shop">Comprar</button>
                        <button id="input-cart-shop">Agregar al carrito</button>
                    </div>
                </section>
            </nav>
            <div class="container-descripcion">
                <div class="caja-descripcion">
                    <h5>Descripción del Producto</h5>
                    <p class="texto">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo nobis eveniet harum non, suscipit
                        mollitia
                        recusandae quidem blanditiis aperiam assumenda a corrupti quaerat enim fugiat eum veniam
                        corporis
                        minus
                        quia.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem est nihil accusamus esse
                        deserunt iste? Odio quo magni excepturi molestiae maiores cupiditate hic repellendus ipsum! Eius
                        maxime ad assumenda provident?
                    </p>
                </div>
                <div class="container-store">
                    <h5>Información de Tienda</h5>
                    <p class="texto">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis repellat molestiae rem
                        quisquam,
                        aperiam laboriosam voluptatum eligendi id, reprehenderit nesciunt, quasi optio commodi cum
                        quibusdam
                        fuga? Eveniet quos voluptas maxime?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum ipsum ad quam esse illum? Velit
                        tenetur assumenda accusantium temporibus tempora laborum veritatis fugit, suscipit ut incidunt
                        minus, voluptatem, nihil totam!
                    </p>
                </div>
            </div>
            <nav class="container-other-product">
                <h5 class="name-other">Productos Similares</h5>
                <div class="box-article">
                    <article class="article-other">
                        <img src="/img/image 46.jpg" alt="">
                        <div class="box-article-charact">
                            <h5>Redoblante</h5>
                            <p>Redoblante Roadshow 14x6,5 8 Torres Rsn1465s</p>
                            <p class="price-art">$68.800</p>
                        </div>
                    </article>
                    <article class="article-other">
                        <img src="/img/image 47.jpg" alt="">
                        <div class="box-article-charact">
                            <h5>Pedal de bombo</h5>
                            <p>Pedal de Bombo Hebikuo G610 Cadena Doble base metalica</p>
                            <p class="price-art">$20.000</p>
                        </div>
                    </article>
                    <article class="article-other">
                        <img src="/img/image 48.jpg" alt="">
                        <div class="box-article-charact">
                            <h5>Bombo de Bateria</h5>
                            <p>Bombo de Bateria Pearl Forum Fzh2218b/c 22x18</p>
                            <p class="price-art">$100.000</p>
                        </div>
                    </article>
                    <article class="article-other">
                        <img src="/img/image 49.jpg" alt="">
                        <div class="box-article-charact">
                            <h5>Set de Platillos</h5>
                            <p>Set de platillos Zildjian Zp1418 Hi Hat 14 Cash 18 Palillos</p>
                            <p class="price-art">$20.000</p>
                        </div>
                    </article>
                </div>
            </nav>
        </article>
    </main>
    <footer>
        <div id="footer-sections">
            <div class="footer-section">
                <h4>Términos y condiciones</h4>
                <p>Condiciones de pagos</p>
                <p>Problemas de envios, compras</p>
                <p>Preguntas Frecuentes</p>
                <p>Botón de arrepentimiento</p>
            </div>
            <div class="footer-section">
                <h4>Redes sociales</h4>
                <p><i class="fa-brands fa-instagram"></i>Instagram</p>
                <p><i class="fa-brands fa-facebook"></i>Facebook</p>
                <p><i class="fa-brands fa-twitter"></i>Twitter</p>
            </div>
            <div class="footer-section">
                <h4>Contacto</h4>
                <p><i class="fa-brands fa-whatsapp"></i>00-0000-0000</p>
                <p><i class="fa-solid fa-envelope"></i>arpeggiomusic@gmail.com</p>
                <p>Sucursales</p>
            </div>
        </div>
        <div id="footer-fiscal-data">
            <img src="" alt="">
            <h4>Data fiscal</h4>
        </div>
        <div id="footer-copyright">
            <p>Copyright 1000-0000 ArpeggioMusic <a href="">Políticas de privacidad</a></p>
        </div>
    </footer>
</body>

</html>