<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Arpeggio Music</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/shipping.css">
</head>
<body>
    <header>
        <section class="container-general">
            <div class="caja-one">
                <div>
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="caja-padre-logo">
                    <a href="/">
                        <img src="/images/logos/logo-arpeggio.JPG" class="img-logo" alt="Logo de Arpeggio Music">
                    </a>                    
                </div>
                <div>
                    <a href="/productCart"><i class="fa-solid fa-cart-plus"></i></a>
                </div>
            </div>
            <div class="nav-bar">
                <div class="second-img-logo">
                    <a href="/"><img src="/images/logos/logo-arpeggio.JPG" class="img-logo-ar" alt=""></a>
                </div>
                <div class="caja-searchbar">
                    <div class="box">
                        <input type="search" placeholder="Burcar" class="src">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="barra-menu">
                        <ul class="lista-menu">
                            <li><a href="/store">Tienda</a></li>
                            <li><a href="/store">Ofertas</a></li>
                            <li><a href="/about">Sobre nosotros</a></li>
                            <li><a href="/shipping">Envios</a></li>
                            <!-- <li><a class="remove-border" href="#">Cursos</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="register-bar">
                    <div class="caja-login">
                        <a href="/userProfile"><i class="fa-regular fa-circle-user"></i></a>
                        <ul class="lista-login">
                            <li id="text-log-in"><a href="/userLogin">Log in</a></li>
                            <li><a href="/userRegister">Sign up</a></li>
                        </ul>
                    </div>
                    <div class="cart">
                        <a href="/productCart"><i class="fa-solid fa-cart-plus"></i></a> 
                    </div>
                </div>
            </div>
        </section>
    </header>
    <main>
        <div class="container">
            <p>
                <h1>ENVÍOS</h1>
                <h2>COSTO DE ENVÍOS</h2>
                El costo de envío tradicional es de $1200. ENVÍOS GRATIS en compras mayores a $35.000.
                El costo de envío Express a domicilio es de $1700. 
                El costo de los envíos a sucursales Andreani es de $1200.  ENVÍOS GRATIS en compras mayores a $35.000.
                Del 01/05/2023 al 31/05/2023 ENVÍOS GRATIS locales.
                <b>Para retirar tu pedido por algunas de nuestras sucursales, deberás presentar la factura junto con tu DNI. 
                Si retira una persona que no es titular de la compra, deberás gestionar previamente la autorización del retiro.</b> 
                <h2>CUÁNTO DEMORA LA ENTREGA (Domicilio / Locales)</h2>
                ° Para Capital Federal y GBA el tiempo estimado es de 2 a 4 días hábiles.
                ° Para el interior del país el tiempo estimado es de 5 a 7 días hábiles.
                El tiempo estimado se calcula a partir de las 48hs hábiles posteriores a la fecha de compra.
                Los tiempos son aproximados y pueden variar considerando la hora en que se procesó la compra, si lo realizó un feriado o bien un fin de semana.
                ° No realizamos envíos a Tierra del Fuego.  
            </p>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h4>Términos y condiciones</h4>
                <p>Condiciones de pagos</p>
                <p>Problemas de envios, compras</p>
                <p>Preguntas Frecuentes</p>
                <p>Botón de arrepentimiento</p>
            </div>
            <div class="footer-section">
                <h4>Redes sociales</h4>
                <p><i class="fa-brands fa-instagram"></i>Instagram</p>
                <p><i class="fa-brands fa-facebook"></i>Facebook</p>
                <p><i class="fa-brands fa-twitter"></i>Twitter</p>
            </div>
            <div class="footer-section">
                <h4>Contacto</h4>
                <p><i class="fa-brands fa-whatsapp"></i>00-0000-0000</p>
                <p><i class="fa-solid fa-envelope"></i>arpeggiomusic@gmail.com</p>
                <p>Sucursales</p>
            </div>
            <div class="footer-section">
                <img src="" alt="Datos fiscales">
                <p>Data fiscal</p> <br>
                <p>Copyright 1000-0000 ArpeggioMusic <br><br>
                <a href="">Políticas de privacidad</a>
                </p>
            </div>
        </div>
    </footer>
</body>
</html>