<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Arpeggio Music</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/shoppingHistory.css">
</head>

<body>
    <header>
        <section class="container-general">
            <div class="caja-one">
                <div>
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="caja-padre-logo">
                    <a href="/">
                        <img src="/images/logos/logo-arpeggio.JPG" class="img-logo" alt="Logo de Arpeggio Music">
                    </a>                    
                </div>
                <div>
                    <a href="/productCart"><i class="fa-solid fa-cart-plus"></i></a>
                </div>
            </div>
            <div class="nav-bar">
                <div class="second-img-logo">
                    <a href="/"><img src="/images/logos/logo-arpeggio.JPG" class="img-logo-ar" alt=""></a>
                </div>
                <div class="caja-searchbar">
                    <div class="box">
                        <input type="search" placeholder="Burcar" class="src">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="barra-menu">
                        <ul class="lista-menu">
                            <li><a href="/store">Tienda</a></li>
                            <li><a href="/store">Ofertas</a></li>
                            <li><a href="/about">Sobre nosotros</a></li>
                            <li><a href="/shipping">Envios</a></li>
                            <!-- <li><a class="remove-border" href="#">Cursos</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="register-bar">
                    <div class="caja-login">
                        <a href="/userProfile"><i class="fa-regular fa-circle-user"></i></a>
                        <ul class="lista-login">
                            <li id="text-log-in"><a href="/userLogin">Log in</a></li>
                            <li><a href="/userRegister">Sign up</a></li>
                        </ul>
                    </div>
                    <div class="cart">
                        <a href="/productCart"><i class="fa-solid fa-cart-plus"></i></a> 
                    </div>
                </div>
            </div>
        </section>
    </header>
    <main>
        <div class="container">
            <div class="Text-icon">
                <p>Mis Compras</p>
                <i class="fa-solid fa-list-ul"></i>
            </div>
            <section class="container-section">
                <div class="container-article">
                    <div class="box-title-general">
                        <div class="container-date-number-send">
                            <h5 class="number-shop">Número de pedido:#34628</h5>
                            <h5 class="text-date">Fecha:24/11/2022</h5>
                            <div class="estado-producto">
                                <h5 class="text-send">Estado:</h5>
                                <h5 class="send-entregado">Entregado</h5>
                            </div>
                        </div>
                        <h5 class="text-resumen-shop">Resumen de Compra</h5>
                    </div>
                    <article>
                        <div class="box-title-second">
                            <h5>N°:#34628</h5>
                            <h5>Fecha:24/11/2022</h5>
                            <div class="title-text-entregado">
                                <p class="title-art">Estado:</p>
                                <p class="text-entregado">Entregado</p>
                            </div>
                        </div>
                        <div class="box-img-text">
                            <img src="/images/productos/image-37.jpg" alt="">
                            <div class="box-text-article">
                                <button>Volver a comprar</button>
                                <p class="name-caract">Bajo Eléctrico Aston Reed Ebs 150-20 Con funda y cable</p>
                                <p class="price">$30.000</p>
                            </div>
                            <a href="#">Comprar de nuevo</a>
                        </div>
                        <div class="container-resumen">
                            <div class="box-text-cost">
                                <p>Pago Completo</p>
                                <p>Costo del Envío</p>
                                <p>Total</p>
                            </div>
                            <div class="box-cost">
                                <p>$0.00</p>
                                <p>$0.00</p>
                                <p>$0.00</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="container-article">
                    <div class="box-title-general">
                        <div class="container-date-number-send">
                            <h5 class="number-shop">Número de pedido:#34628</h5>
                            <h5 class="text-date">Fecha:24/11/2022</h5>
                            <div class="estado-producto">
                                <h5 class="text-send">Estado:</h5>
                                <h5 class="send-entregado facturado">Facturado</h5>
                            </div>
                        </div>
                        <h5 class="text-resumen-shop">Resumen de Compra</h5>
                    </div>
                    <article>
                        <div class="box-title-second">
                            <h5>N°:#34628</h5>
                            <h5>Fecha:24/11/2022</h5>
                            <div class="title-text-entregado">
                                <p class="title-art">Estado:</p>
                                <p class="text-entregado facturado">Facturado</p>
                            </div>
                        </div>
                        <div class="box-img-text">
                            <img src="/images/productos/image-38.jpg" alt="">
                            <div class="box-text-article">
                                <button>Volver a comprar</button>
                                <p class="name-caract">Microfóno Inalámbrico AKG P3 S dinámico cardioide negro</p>
                                <p class="price">$30.000</p>
                            </div>
                            <a href="#">Comprar de nuevo</a>
                        </div>
                        <div class="container-resumen">
                            <div class="box-text-cost">
                                <p>Pago de 6 cuotas</p>
                                <p>Costo del Envío</p>
                                <p>Total</p>
                            </div>
                            <div class="box-cost">
                                <p>$0.00</p>
                                <p>$0.00</p>
                                <p>$0.00</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="container-article">
                    <div class="box-title-general">
                        <div class="container-date-number-send">
                            <h5 class="number-shop">Número de pedido:#34628</h5>
                            <h5 class="text-date">Fecha:24/11/2022</h5>
                            <div class="estado-producto">
                                <h5 class="text-send">Estado:</h5>
                                <h5 class="send-entregado cancelado">Cancelado</h5>
                            </div>
                        </div>
                        <h5 class="text-resumen-shop">Resumen de Compra</h5>
                    </div>
                    <article>
                        <div class="box-title-second">
                            <h5>N°:#34628</h5>
                            <h5>Fecha:24/11/2022</h5>
                            <div class="title-text-entregado">
                                <p class="title-art">Estado:</p>
                                <p class="text-entregado cancelado">Cancelado</p>
                            </div>
                        </div>
                        <div class="box-img-text">
                            <img src="/images/productos/image-39.jpg" alt="">
                            <div class="box-text-article">
                                <button>Volver a comprar</button>
                                <p class="name-caract">Teclado Portátil Yamaha Psr-f52 Psr-f52 Psr-f52</p>
                                <p class="price">$30.000</p>
                            </div>
                            <a href="#">Comprar de nuevo</a>
                        </div>
                        <div class="container-resumen">
                            <div class="box-text-cost">
                                <p>Pago Completo</p>
                                <p>Devolución</p>
                                <p>Total</p>
                            </div>
                            <div class="box-cost">
                                <p>$0.00</p>
                                <p>$0.00</p>
                                <p>$0.00</p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
            <section class="container-section">
                <div class="container-article">
                    <div class="box-title-general">
                        <div class="container-date-number-send">
                            <h5 class="number-shop">Número de pedido:#34628</h5>
                            <h5 class="text-date">Fecha:24/11/2022</h5>
                            <div class="estado-producto">
                                <h5 class="text-send">Estado:</h5>
                                <h5 class="send-entregado cargado">Cargado</h5>
                            </div>
                        </div>
                        <h5 class="text-resumen-shop">Resumen de Compra</h5>
                    </div>
                    <article>
                        <div class="box-title-second">
                            <h5>N°:#34628</h5>
                            <h5>Fecha:24/11/2022</h5>
                            <div class="title-text-entregado">
                                <p class="title-art">Estado:</p>
                                <p class="text-entregado cargado">Cargado</p>
                            </div>
                        </div>
                        <div class="box-img-text">
                            <img src="/images/productos/image-37.jpg" alt="">
                            <div class="box-text-article">
                                <button>Volver a comprar</button>
                                <p class="name-caract">Bajo Eléctrico Aston Reed Ebs 150-20 Con funda y cable</p>
                                <p class="price">$30.000</p>
                            </div>
                            <a href="#">Comprar de nuevo</a>
                        </div>
                        <div class="container-resumen">
                            <div class="box-text-cost">
                                <p>Pago Completo</p>
                                <p>Costo del Envío</p>
                                <p>Total</p>
                            </div>
                            <div class="box-cost">
                                <p>$0.00</p>
                                <p>$0.00</p>
                                <p>$0.00</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="container-article">
                    <div class="box-title-general">
                        <div class="container-date-number-send">
                            <h5 class="number-shop">Número de pedido:#34628</h5>
                            <h5 class="text-date">Fecha:24/11/2022</h5>
                            <div class="estado-producto">
                                <h5 class="text-send">Estado:</h5>
                                <h5 class="send-entregado cancelado">Cancelado</h5>
                            </div>
                        </div>
                        <h5 class="text-resumen-shop">Resumen de Compra</h5>
                    </div>
                    <article>
                        <div class="box-title-second">
                            <h5>N°:#34628</h5>
                            <h5>Fecha:24/11/2022</h5>
                            <div class="title-text-entregado">
                                <p class="title-art">Estado:</p>
                                <p class="text-entregado cancelado">Cancelado</p>
                            </div>
                        </div>
                        <div class="box-img-text">
                            <img src="/images/productos/image-38.jpg" alt="">
                            <div class="box-text-article">
                                <button>Volver a comprar</button>
                                <p class="name-caract">Microfóno Inalámbrico AKG P3 S dinámico cardioide negro</p>
                                <p class="price">$30.000</p>
                            </div>
                            <a href="#">Comprar de nuevo</a>
                        </div>
                        <div class="container-resumen">
                            <div class="box-text-cost">
                                <p>Pago Completo</p>
                                <p>Devolución</p>
                                <p>Total</p>
                            </div>
                            <div class="box-cost">
                                <p>$0.00</p>
                                <p>$0.00</p>
                                <p>$0.00</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="container-article">
                    <div class="box-title-general">
                        <div class="container-date-number-send">
                            <h5 class="number-shop">Número de pedido:#34628</h5>
                            <h5 class="text-date">Fecha:24/11/2022</h5>
                            <div class="estado-producto">
                                <h5 class="text-send">Estado:</h5>
                                <h5 class="send-entregado">Entregado</h5>
                            </div>
                        </div>
                        <h5 class="text-resumen-shop">Resumen de Compra</h5>
                    </div>
                    <article>
                        <div class="box-title-second">
                            <h5>N°:#34628</h5>
                            <h5>Fecha:24/11/2022</h5>
                            <div class="title-text-entregado">
                                <p class="title-art">Estado:</p>
                                <p class="text-entregado">Entregado</p>
                            </div>
                        </div>
                        <div class="box-img-text">
                            <img src="/images/productos/image-39.jpg" alt="">
                            <div class="box-text-article">
                                <button>Volver a comprar</button>
                                <p class="name-caract">Teclado Portátil Yamaha Psr-f52 Psr-f52 Psr-f52</p>
                                <p class="price">$30.000</p>
                            </div>
                            <a href="#">Comprar de nuevo</a>
                        </div>
                        <div class="container-resumen">
                            <div class="box-text-cost">
                                <p>Pago Completo</p>
                                <p>Costo del Envío</p>
                                <p>Total</p>
                            </div>
                            <div class="box-cost">
                                <p>$0.00</p>
                                <p>$0.00</p>
                                <p>$0.00</p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <div id="footer-sections">
            <div class="footer-section">
                <h4>Términos y condiciones</h4>
                <p>Condiciones de pagos</p>
                <p>Problemas de envios, compras</p>
                <p>Preguntas Frecuentes</p>
                <p>Botón de arrepentimiento</p>
            </div>
            <div class="footer-section">
                <h4>Redes sociales</h4>
                <p><i class="fa-brands fa-instagram"></i>Instagram</p>
                <p><i class="fa-brands fa-facebook"></i>Facebook</p>
                <p><i class="fa-brands fa-twitter"></i>Twitter</p>
            </div>
            <div class="footer-section">
                <h4>Contacto</h4>
                <p><i class="fa-brands fa-whatsapp"></i>00-0000-0000</p>
                <p><i class="fa-solid fa-envelope"></i>arpeggiomusic@gmail.com</p>
                <p>Sucursales</p>
            </div>
        </div>
        <div id="footer-fiscal-data">
            <img src="" alt="">
            <h4>Data fiscal</h4>
        </div>
        <div id="footer-copyright">
            <p>Copyright 1000-0000 ArpeggioMusic <a href="">Políticas de privacidad</a></p>
        </div>
    </footer>
</body>

</html>