<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Arpeggio Music</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/userRegister.css">
</head>

<body>
    <%- include('./partials/header') %>
    <main>
        <div class="main-container">
            <div class="left-column">
                <form class="form-center" action="./userRegister" method="POST">
                    <div class="separacion">
                        <label for="usuario">Usuario</label>
                        <input class="form-input" type="usuario" name="usuario" id="usuario">
                    </div>
                    <div class="separacion">
                        <label for="nombre">Nombre</label>
                        <input class="form-input" type="nombre" name="nombre" id="nombre">
                    </div>
                    <div class="separacion">
                        <label for="apellido">Apellido</label>
                        <input class="form-input" type="apellido" name="apellido" id="apellido">
                    </div>
                    <div class="separacion">
                        <label for="email">E-mail</label>
                        <input class="form-input" type="email" name="email" id="email">
                    </div>
                    <div class="separacion">
                        <label for="telefono">Teléfono</label>
                        <input class="form-input" required type="tel" name="telefono" id="telefono">
                    </div>
                    <div class="separacion">
                        <label for="pwd">Contraseña</label>
                        <input class="form-input" type="password" name="pwd" id="pwd">
                    </div>
                    <div class="separacion">
                        <label for="confirmpwd">Confirmar contraseña</label>
                        <input class="form-input" type="password" name="confirmpwd" id="confirmpwd">
                    </div>
                    <div>
                        <button class="btn-format" type="button">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h4>Términos y condiciones</h4>
                <p>Condiciones de pagos</p>
                <p>Problemas de envios, compras</p>
                <p>Preguntas Frecuentes</p>
                <p>Botón de arrepentimiento</p>
            </div>
            <div class="footer-section">
                <h4>Redes sociales</h4>
                <p><i class="fa-brands fa-instagram"></i>Instagram</p>
                <p><i class="fa-brands fa-facebook"></i>Facebook</p>
                <p><i class="fa-brands fa-twitter"></i>Twitter</p>
            </div>
            <div class="footer-section">
                <h4>Contacto</h4>
                <p><i class="fa-brands fa-whatsapp"></i>00-0000-0000</p>
                <p><i class="fa-solid fa-envelope"></i>arpeggiomusic@gmail.com</p>
                <p>Sucursales</p>
            </div>
        </div>
        <div id="footer-fiscal-data">
            <img src="" alt="">
            <h4>Data fiscal</h4>
        </div>
        <div id="footer-copyright">
            <div class="copyright-center">
                <p>Copyright 1000-0000 ArpeggioMusic <a href="">Políticas de privacidad</a></p>
            </div>
        </div>
    </footer>
</body>

</html>