<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arpeggio Music</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/userRegister.css">
</head>
<body>
    <header>
        <div>
            <img src="" alt="Logo de Arpeggio Music">
        </div>
        <div>
            <input type="search" placeholder="Burcar productos, marcas">
            <nav>
                <ul>
                    <li>categorias</li>
                    <li>Ofertas</li>
                    <li>Marcas</li>
                    <li>Envios</li>
                    <li>Cursos</li>
                </ul>
            </nav>
        </div>
        <div>
            <img src="" alt="login"> Login
        </div>
        <div>Sign Up</div>
        <div><img src="" alt="Carrito de compras"></div>
    </header>
    <main>
        <form action="./userRegister">
            <div>
                <label for="usuario">Usuario</label>
                <input type="usuario" name="usuario" id="usuario">
            </div>
            <div>
                <label for="nombre">Nombre</label>
                <input type="nombre" name="nombre" id="nombre">
            </div>
            <div>
                <label for="apellido">Apellido</label>
                <input type="apellido" name="apellido" id="apellido">
            </div>
            <div>
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email">
            </div>
            <div>
                <label for="telefono">Teléfono</label>
                <input type="number" name="telefono" id="telefono">
            </div>
            <div>
                <label for="pwd">Contraseña</label>
                <input type="password" name="pwd" id="pwd">
            </div>
            <div>
                <label for="confirmpwd">Confirmar contraseña</label>
                <input type="password" name="confirmpwd" id="confirmpwd">
            </div>
        </form>
    </main>
    <footer>
        <section>Contacto</section>
        <section>Redes sociales</section>
        <section>Newsletter</section>
        <section>About / sobre mi... </section>
        <section>Politicas de privacidad COCKIES!!!</section>
    </footer>
</body>
</html>
