main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text-container {
    margin-top: 50px;
    text-align: center;
    color: white;
    width: 90%;
    max-width: 800px;
}

.mapa {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
}

iframe {
    max-width: 100%;
    height: 450px;
}