@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

* {
    font-family: roboto;
    box-sizing: border-box;
}

.container {
    background-color: #D9D9D9;
    padding: 15px 0 50px 0;
}

.category {
    display: flex;
    flex-direction: column;
}

.category img {
    width: 250px;
}

.title-category {
    color: #515151;
    font-weight: bold;
}

.category-header {
    width: 80%;
    margin: auto;
}

.category-container {
    width: 80%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category-p {
    color: #515151;
}

.form-actions {
    display: flex;
}

.btn {
    margin: 5px;
    padding: 5px;
    border: #515151 solid 1px;
    border-radius: 5px;
}

.btn i {
    margin-right: 5px;
}

.btn-danger {
    background-color: #c83025;
    color: white;
    border: #c83025 solid 1px;
    border-radius: 5px;
}

.btn-success {
    background-color: #83a94c;
    color: white;
    border: #83a94c solid 1px;
    border-radius: 5px;
}