.slider {
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: black;
}

.slider img {
    width: 100%;
    height: auto;
}

.float-text {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: rgb(30, 30, 30);
    background-color: rgba(120, 120, 120, 50%);
}

/* .float-text .row-direction {
    margin: 10px;
} */

.brands-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.brands {
    width: 22vw;
    height: auto;
    margin: 5px;
}

.container-items {
    border-color: white;
    border: 2px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    text-align: center;
}

.item-box {
    position: relative;
    width: 40vw;
    height: 250px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 15px;
}

.logos {
    width: 20vw;
    height: auto;
    margin: 5px;
}

.img-responsive {
    aspect-ratio: 9/16;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.text-in-categories {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: rgb(30, 30, 30);
    background-color: rgba(120, 120, 120, 50%);
}

.sub-title {
    color: white;
    font-size: 25px;
    text-align: center;
    background-color: gray;
}





@media (min-width: 1000px) {
    .item-box {
        width: 22vw;
    }
}