@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

* {
    font-family: roboto;
}

body {
    width: 100vw;
    margin: 0;
    background-color: black;
}

header {
    width: 100%;
    box-sizing: border-box;
}

.container-general {
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.img-logo {
    width: 20vw;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.fa-bars {
    color: white;
    margin: 15px;
    font-size: 25px;
}

.fa-cart-plus {
    color: white;
    margin: 15px;
    font-size: 25px;
}

.caja-one {
    background-color: black;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: space-between;
    align-items: center;
}

.container-general {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.caja-searchbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
    width: 90%;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    border: black solid 1px;
    border-radius: 15px;
    background-color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;
}

input.src {
    padding-left: 20px;
    align-self: center;
    box-sizing: border-box;
    width: 90%;
    margin-right: 10px;
    border: whitesmoke;
    background-color: whitesmoke;
}

.fa-magnifying-glass {
    font-size: 15px;
    order: -1;
    align-self: center;
    padding-left: 10px;
}

.lista-menu {
    display: none;
}

.lista-login {
    display: none;
}

.fa-circle-user {
    display: none;
}

.second-img-logo {
    display: none;
}

.cart {
    display: none;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding: 5px;
    color: white;
}

.footer-section {
    width: 100%;
    border-bottom: 1px solid #ccc;
}


@media (min-width: 481px) {
    header {
        background-color: black;
        width: 100vw;
        box-sizing: border-box;
    }

    .fa-bars {
        display: none;
    }

    .container-general {
        display: flex;
        width: 100%;
        box-sizing: border-box;
    }
    .nav-bar {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding: 5px;
        box-sizing: border-box;
    }

    .register-bar {
        width: 25%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-self: center;
        padding-right: 15px;
        margin-top: 0px;
        box-sizing: border-box;
    }

    .fa-magnifying-glass {
        padding-left: 5px;
        font-size: 10px;
    }

    .caja-one {
        display: none;
    }

    .second-img-logo {
        width: 25%;
        display: flex;
        justify-content: flex-start;
        align-self: center;
        padding-left: 15px;
        box-sizing: border-box;
    }

    .second-img-logo .img-logo-ar {
        width: 13vw;
    }

    .cart {
        display: flex;
        border: dashed 1px black;
        align-self: center;
        justify-content: center;
    }

    .cart i {
        font-size: 15px;
        color: white;
        margin: 0;
        padding-left: 5px;
    }

    .caja-login {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .caja-searchbar {
        width: 45%;
        flex-wrap: wrap;
        display: flex;
        align-self: flex-start;
        box-sizing: border-box;
    }

    .box {
        width: 100%;
        height: 25px;
        box-sizing: border-box;
    }

    input.src {
        height: 16.4px;
        box-sizing: border-box;
        padding-left: 15px;
    }

    .barra-menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        align-items: space-around;
    }

    .lista-menu {
        width: 100%;
        display: flex;
        list-style: none;
        flex-direction: row;
        justify-content: center;
        background-color: black;
        margin: 0px;
        padding: 0;
        box-sizing: border-box;
    }
    .lista-menu li{
        background: black;
        transition: all 0.5s;
    }
    .lista-menu li a {
        text-decoration: none;
        color: white;
        display: block;
        font-size: 12px;
        padding-right: 15px;
        padding-left: 15px;
        border-right: 1px white solid;
        margin-top: 5px;
        margin-bottom: 5px;
        transition: all 0.5s;
    }

    .lista-menu li:hover {
        background: white;
    }

    .lista-menu li a:hover {
        color: black;
    }

    .lista-login {
        display: flex;
        list-style: none;
        background-color: black;
        padding-left: 0px;
        margin: 0;
    }

    .lista-login li a {
        text-decoration: none;
        color: white;
        display: block;
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        transition: all 0.5s;
        border-right: white solid 1px;
    }
    .lista-login li{
        background: black;
        transition: all 0.5s;
    }

    .lista-login li:hover {
        background: white;
    }

    .lista-login li a:hover {
        color: black;
    }
    .caja-login a{
        text-decoration: none;
    }

    .fa-circle-user {
        display: flex;
        color: white;
        font-size: 15px;
        margin-right: 5px;
    }
}

@media (min-width: 1200px) {

    .nav-bar,.barra-menu {
        max-width: 1200px;
        margin: auto;
        padding-left: 0;
        padding-right: 0;
        box-sizing: border-box;
    }

    .second-img-logo {
        width: 25%;
        display: flex;
        padding-left: 0;
        box-sizing: border-box;
    }

    .second-img-logo .img-logo-ar {
        width: 50%;
    }

    .register-bar {
        width: 25%;
        padding-right: 0;
    }
    .footer-section {
        width: 30%;
        border-bottom: none;
    }
}