*{
    box-sizing: border-box;
}

main {
    background-color:whitesmoke;
}

.general {
    background-color: black;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    margin: auto;
    padding: 50px;
    border-radius: 1em;
   



}