main {
    background-color: whitesmoke;
}

.contenedor-general {
    display: flex;

}

.products {
   
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    width: 75%;
    justify-content: center
   
}

.bar{
    background-color: black;
    color: white;
    width: 20%;
    margin: 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.product {
    margin: 5px;
    margin-bottom: 10px;
}


