.container {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container {
    width: 70%;
    margin: auto;
    padding: 15px 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.form-group label {
    color: #565656;
}
.group-input{
    height: 30px;
    background-color: white;
    border-radius: 10px;
    border: none;
    outline: 0px;
    padding: 0 10px;
}
.group-input:hover{
    outline: rgba(0,0,0,0.8) 0.5px solid;
}

.form-group textarea {
    padding: 5px 10px;
    height: 40px;
}

.btn-black {
    background-color: black;
    color: white;
    border: none;
    height: 30px;
    padding: 0 20px;
    border-radius: 10px;
}

.btn-black:hover {
    border: 2px solid white;
}

.form-title {
    font-size: 25px;
    color: #565656;
    text-align: center;
}
.text-danger{
    color: red;
    font-size: 13px;
    padding: 3px 1px;
}
.group-input.invalid{
    outline: rgba(255,15,23,0.8) 0.5px solid;
    transition: all 0.5s;
}
.group-input.invalid:hover{
    box-shadow: 0px 0px 5px 0px rgba(255,15,23,1);
    outline: rgba(255,15,23,0.2) 0.5px solid;
}
.container-color{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.container-color p{
    background-color: white;
    width: 15%;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px 0px;
    text-align: center;
}
.container-color input{
    width: 20%;
}
.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.4s;
}
.switch::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    background-color: grey;
    left: 2.5px;
    top:2.5px;
    transition: all 0.4s;
}
input[type='checkbox']:checked + .switch::after{
    transform: translateX(30px);
    background-color: white;
}
input[type='checkbox']:checked + .switch{
    border: solid rgba(26, 85, 255, 1) 1px;
    background-color: rgba(26, 85, 255, 1);
}
.offscreen{
    position: absolute;
    left: -99999999px;
}

@media (min-width: 769px) {
    .form-container {
        width: 50%;
    }
}
