@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');


main{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
}
.container{
    width: 100%;
    padding-left: 15px;
    padding-right:15px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.container-article{
    width: 100%;
    display: inline-block;
    background-color: whitesmoke;
    padding: 5px;
    padding-top: 10px;
/*     border: 1px dashed red; */
    box-sizing: border-box;
}
.name-product{
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.container-img-product-colum{
    display: none;
}
h4{
    font-size: 20px;
    text-align: center;
    margin: 0;
}
.container-img{
    display: flex;
    justify-content: center;
    width: 100%;
/*     border: violet 1px solid; */
    box-sizing: border-box;
}
.container-img img{
    display: flex;
    width: 100%;
    box-sizing: border-box;
}
/* .box-text-product{
    border: 1px solid black;
} */
.box-text-product h4{
    display: none;
}
.price{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}
.discount{
    color: #39b54a;
    margin-top: 5px;
    margin-bottom: 5px;
}
.box-characteristics{
/*     border: 1px solid yellow; */
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.box-characteristics h5{
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 16px;
}
.box-characteristics p{
    font-size: 14px;
    margin:0;
}
.box-send{
/*     border: 1px solid red; */
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
}
.box-send h5{
    font-weight: 500;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.box-send p{
    font-size: 14px;
    margin: 0;
}
.box-send p i{
    margin-left: 10px;
    color: #39b54a;
}
.container-color{
    padding-top: 15px;
    padding-bottom: 15px;
}
.container-color h5{
    font-weight: 500;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.box-stock{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
/*     border:1px solid blue; */
    box-sizing: border-box;
}
.box-stock h5{
    font-weight: 500;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.container-inc-dec{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}
.container-inc-dec input{
    display: flex;
    text-align: center;
    font-size: 15px;
    border: none;
    box-sizing: border-box;
    background-color:whitesmoke;
}

.container-inc-dec label{
    margin-right: 10px;
}
#decrement{
    width: 20px;
    height: 20px;
    font-size: 20px;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: black;
    box-sizing: border-box;
}
#increment{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
}
.container-button{
/*     border: 1px solid orange; */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#input-shop{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    font-size: 14px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px;
    box-sizing: border-box;
}
#input-cart-shop{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid black ;
    background-color: white;
    box-sizing: border-box;
}
.container-descripcion{
    margin-top: 20px;
}
.caja-descripcion{
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
    background: whitesmoke;
    box-sizing: border-box;
}
.caja-descripcion h5{
    color: white;
    background-color: black;
    text-align: center;
    font-weight: 500;
    margin: 0;
    margin-bottom: 5px;
    padding: 5px;
    box-sizing: border-box;
}
.texto{
    margin: 0;
    padding: 10px;
    font-size: 13px;
}
.container-store{
    background-color: whitesmoke;
    margin-top: 15px;
}
.container-store h5{
    color: white;
    background-color: black;
    padding: 5px;
    text-align: center;
    font-weight: 500;
    margin: 0;
    margin-bottom: 5px;
}
.container-other-product{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #ebebeb;
    box-sizing: border-box;
}
.container-other-product .name-other{
    margin: 0px;
    padding: 5px;
    font-weight: 500;
    text-align: center;
    background-color: black;
    color: white;
    box-sizing: border-box;
}
.box-article{
    display: flex;
    flex-wrap: wrap;
    padding:0;
    box-sizing: border-box;
}
.article-other{
    display: flex;
    width: 45%;
    margin: 10px;
    position: relative;
    transition: all 0.5s;
    box-sizing: border-box;
}
.article-other:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.article-other img{
    width: 100%;
}
.box-article-charact{
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    overflow: hidden;
    transition: all 0.5s;
}
.box-article-charact h5{
    font-size: 16px;
    margin: 5px;
    margin-top: 10px;
}
.box-article-charact p{
    font-size: 12px;
    margin: 5px;
    visibility: hidden;
}
.box-article-charact .price-art{
    font-size: 12px;
    margin: 5px;
    visibility: hidden;
}
.box-article-charact:hover{
    height: 45%;
    background-color: #ebebeb;
}
.box-article-charact:hover p{
    visibility: visible;
}
.box-article-charact:hover .price-art{
    visibility: visible;
}

@media (min-width: 481px){
    .container-img img{
        width: 70%;
        box-sizing: border-box;
    }
    .container-other-product{
        background-color: white;
    }
    .box-article{
        justify-content: space-between;
    }
    .article-other{
        width: 40%;
        margin: 10px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width: 769px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .container-article{
        width: 100%;
        display:flex;
        padding: 0;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .container-img-product-colum{
        width: 12%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
/*         border: 1px orange dashed; */
        box-sizing: border-box;
    }
    .container-img-product-colum img{
        margin-bottom: 5px;
        box-sizing: border-box;
    }
    .container-img{
        width: 47%;
        box-sizing: border-box;
    }
    .container-img img{
        width: 100%;
        box-sizing: border-box;
    }
    .box-text-product{
        width: 40%;
        display: flex;
        padding: 5px;
        flex-direction: column;
        background-color: white;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        box-sizing: border-box;
    }
    .box-text-product h4{
        display: block;
    }
    .box-characteristics h5{
        font-size: 14px;
    }
    .box-characteristics p{
        font-size: 12px;
    }
    .box-send h5{
        font-size: 14px;
    }
    .box-send p{
        font-size: 12px;
    }
    .box-stock h5{
        font-size: 14px;
    }
    .container-inc-dec label{
        font-size: 14px;
    }
    .container-inc-dec input{
        background-color: white;
    }
    .container-button{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        padding-top: 10px;
        box-sizing: border-box;
    }
    #input-shop{
        width: 35%;
        margin: 0;
    }
    #input-cart-shop{
        width: 50%;
        margin: 0;
    }
    .name-product{
        display: none;
    }
    .container-descripcion{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .caja-descripcion{
        width: 70%;
        margin-right: 10px;
        background-color: white;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        box-sizing: border-box;
    }
    .container-store{
        width: 30%;
        margin-top: 0;
        background-color: white;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        box-sizing: border-box;
    }
    .container-other-product{
        width: 100%;
        box-sizing: border-box;
    }
    .box-article{
        justify-content: space-between;
    }
    .article-other{
        width: 23%;
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }
}
@media (min-width: 1200px){
    .container{
        max-width: 1200px;
        padding: 0;
        padding-bottom: 20px;
        margin: auto;
        box-sizing: border-box;
    }
    .container-button{
        margin-top: 25px;
    }
    .box-article{
        justify-content: space-between;
    }
    .article-other{
        width: 24%;
        margin: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
