@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

main{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}
.container-general{
    width: 100%;
    box-sizing: border-box;
}
.first-title{
    margin: 10px 15px;
}
.container-create-filter-search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
}
.butto-create{
    padding: 5px;
}
.select-filter{
    padding: 5px;
}
.nav-search{
    display: none;
}
.text-titles{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    justify-content: space-around;
}
.fa-image{
    color: white;
}
.text-category{
    display:none;
}
.title-name{
    margin: 5px 0;
    color: white;
}
.title-price{
    margin: 5px 0;
    color: white;
    display: none;
}
.text-date{
    display: none;
}
.update{
    display: none;
}
.box-articles{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}
article{
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: #ebebeb;
    margin: 3px 15px;
}
article a{
    text-decoration: none;
}
article img{
    width: 35%;
    padding: 5px 5px 0px 5px;
}
.text-name-price-charac{
    /* border: 1px dashed black; */
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
}
.text-charact{
    font-size: 15px;
    margin: 5px 0;
    color: black;
}

.text-price{
    font-size: 15px;
    color: black;
}
.text-name-price-charac a{
    color: black;
    background-color: white;
    text-align: center;
    font-weight:400;
    font-size: 14px;
    width: 40%;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgb(100, 100, 100);
}
.box-category{
    display: none;
}
.box-date{
    display: none;
}
.text-price-second{
    display: none;
}
.container-delete-update{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 5px;
    width: 100%;
}
.box-button-delete,.box-button-update{
    width: 35%;
}
.box-button-delete input{
    display: flex;
    justify-content: center;
    margin: 8px 0px;
    border: none;
    width: 100%;
    padding: 5px;
    font-weight: 500;
    background-color: black;
    color: white;
    box-sizing: border-box;
    transition: all 0.5s;
}
.box-button-delete:hover input{
    background-color: #ebebeb;
    color: black;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.box-button-update button{
    display: flex;
    justify-content: center;
    margin: 8px 0px;
    border: none;
    width: 100%;
    padding: 5px;
    font-weight: 500;
    background-color:black;
    color: white;
    box-sizing: border-box;
    transition: all 0.5s;
}
.box-button-update:hover button{
    background-color:#ebebeb;
    color: black;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
@media (min-width: 900px){
    .container-general{
        padding-bottom: 20px;
    }
    .nav-search{
        display: block;
    }
    .text-category{
        display: block;
        color: white;
        font-size: 14px;
        font-weight: 500;
        margin: 5px 0;
    }
    .text-date{
        display: block;
        color: white;
        font-size: 14px;
        font-weight: 500;
        margin: 5px 0;
    }
    .update{
        display: block;
        color: white;
        font-size: 14px;
        font-weight: 500;
        margin: 5px 0;
    }
    .title-name{
        font-weight: 500;
    }
    .text-price{
        display: none;
    }
    article{
        margin: 3px 20px;
        justify-content: space-around;
    }
    article img{
        border: 1px solid green;
        width: 10%;
        padding: 0;
    }
    .text-name-price-charac{
        border: 1px dashed black;
        width: 30%;
    }
    .title-price{
        display: block;
        font-size: 14px;
        font-weight: 500;
    }
    .box-category{
        border: 1px solid yellow;
        display: block;
    }
    .box-date{
        border: 1px solid green;
        display: block;
    }
    .text-price-second{
        border: 1px dashed red;
        display: block;
    }
    .container-delete-update{
        border: 1px dashed blue;
        flex-direction: column;
        width: 20%;
    }
}