@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

main{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
}
.Text-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Text-icon p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}
.Text-icon i{
    font-size: 20px;
}

.box-title-general{
    display: none;
}
.container-section article{
    border: 1px black solid;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.box-title-second{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}
.box-title-second h5{
    margin: 5px;
    color: white;
    font-weight: 500;
}
.box-title-second a{
    color: white;
    font-size: 14px;
    text-decoration: none;
}
.box-img-text{
    display: flex;
    padding: 5px;
    box-sizing: border-box;
}
.box-img-text a{
    display: none;
}
.box-img-text img{
    width: 50%;
}
.box-text-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
}
.title-art{
    margin: 0;
    font-weight: 400;
    display: flex;
    font-size: 18px;
    box-sizing: border-box;
}
.name-caract{
    font-size: 13px;
    display: flex;
    box-sizing: border-box;
}
.price{
    display: flex;
    font-size: 18px;
    margin: 10px 0;
    box-sizing: border-box;
}
.container-resumen{
    display: none;
}
@media(min-width:769px){
    .container{
        padding: 0px 20px;
        padding-bottom: 10px;
    }
    .Text-icon p{
        margin-bottom: 0;
    }
    .box-title-general{
        display: flex;
        background-color: black;
    }
    .text-date{
        /* border: 1px solid green; */
        margin: 5px;
        color: white;
        font-weight: 500;
        width: 70%;
        box-sizing: border-box;
    }
    .text-resumen-shop{
        /* border: 1px dashed green; */
        margin: 5px;
        color: white;
        font-weight: 500;
        text-align: center;
        width: 30%;
        box-sizing: border-box;
    }
    .container-section{
        margin: 10px 0;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .container-section article{
        display: flex;
        margin: 0;
    }
    .box-title-second{
        display: none;
    }
    .box-img-text img{
        width: 30%;
        box-sizing: border-box;
    }
    .box-img-text .box-text-article{
        width: 45%;
        display: flex;
        padding-left: 10px;
        align-items: flex-start;
        box-sizing: border-box;
    }
    .title-art{
    color: #39b54a;
    }
    .cancel{
        color: red;
    }
    .name-caract{
        text-align: left;
    }
    .box-img-text a{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 25%;
        box-sizing: border-box;
    }
    .container-resumen{
        display: flex;
        width: 30%;
        border-left: 1px black solid;
        box-sizing: border-box;
    }
    .box-img-text{
        width: 70%;
    }
    .box-text-cost{
        /* border: 1px red solid; */
        width: 60%;
        padding-left: 5px;
        box-sizing: border-box;
    }
    .box-cost{
        /* border: 1px dashed blue; */
        width: 40%;
        text-align: center;
        box-sizing: border-box;
    }
}
@media(min-width:1200px){
    .container{
        max-width: 1200px;
        margin: auto;
        padding-left: 0;
        padding-right: 0;
    }
}