main {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    color: white;
    margin-bottom: 25px;
}

hr {
    width: 90%;
}

.container-image {
    width: 100%;
    text-align: center;
}

.user-image {
    width: 60%;
    height: auto;
    border-radius: 50px;
}

.user-info {
    margin: 25px;
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.user-detail {
    margin-left: 5%;
}

.edit-profile {
    width: 100%;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.container-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    border: solid white 1px;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    text-align: start;
}

.container-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    border: solid white 1px;
    border-radius: 5px;
    padding: 15px;
    margin: 25px;
    text-align: start;
}
.container-search h2 {
    margin-top: 5px;
}
.container-search button {
    margin-top: 10px;
}

.center-items {
    display: flex;
    text-align: center;
    justify-content: center;
}

.container-btn{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
}

.form-btn {
    text-align: center;
    width: 100%;
}

.container-confirmacion {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: red;
    border: 1px solid red;
    border-radius: 5px;
}

.btn-delete {
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
}

.btn-cancel {
    background-color: blue;
    border: 1px solid blue;
    border-radius: 5px;
}

.btn-edit {
    background-color: blue;
    border: 1px solid blue;
    border-radius: 5px;
}

.btn-perfil {
    background-color: green;
    border: 1px solid green;
    border-radius: 5px;
}

.btn-active {
    background-color: yellow;
    border: 1px solid yellow;
    border-radius: 5px;
}

.container-pagination {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px;
}
.paginacion a {
  border: 1px solid gray;
  margin: 0 4px;
  padding: 10px;
}
.paginacion a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.paginacion a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media (min-width: 768px) {
    .container-info {
        width: 100%;
    }
    .container-search {
        width: 100%;
        
    }
    .container-search h2 {
        margin-top: 5px;
        margin-right: 10px;
    }

    .container-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35%;
        text-align: none;
    }

    .user-image {
        width: 90%;
    }

    .user-info {
        margin-top: 40px;
    }

    .user-detail {
        width: 45%;
        margin-top: 0px;
    }

    .edit-profile {
        margin-top: 50px;
    }

    .container-btn {
        justify-content: end;
        width: 50%;
        margin-left: 35%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media (min-width: 1200px) {
    .order-item {
        width: 20%;
    }
}