<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="../styles/orderShop.css">
    <title>Document</title>
</head>

<body>
    <%- include('./partials/header') %>
    <div class="body-container-order">
        <div class="container-general-order">
            <div class="container-left">
                <div class="container-three-form">
                    <div class="title-first-form">
                        <h1 class="title-form-h1">1.- Datos Personales</h1>
                    </div>
                    <div class="container-form-text">
                        <div class="box-input">
                            <p class="text-title-p">Nombre y apellido</p>
                            <p class="text-title-p">Correo electronico</p>
                            <p class="text-title-p">DNI</p>
                        </div>
                    </div>
                </div>
                <div class="container-three-form">
                    <div class="title-first-form">
                        <h1 class="title-form-h1">2.- Método de Envío</h1>
                    </div>
                    <div class="container-form-text">
                        <div class="box-input">
                            <h3>¿Retira a sucursal o Envío?</h3>
                            <select name="" id="" class="group-input-select">
                                <option value="">Tipo 1</option>
                                <option value="">Tipo 2</option>
                                <option value="">Tipo 3</option>
                                <option value="">Tipo 4</option>
                            </select>
                            <label for="">Dirección:</label>
                            <input type="text" value="san pedrito 123" class="group-input-select">
                            <label for="">Provincia:</label>
                            <select name="" id="" class="group-input-select">
                                <option value="">buenos aires</option>
                            </select>
                            <label for="">Localidad:</label>
                            <select name="" id="" class="group-input-select">
                                <option value="">buenos aires</option>
                            </select>
                            <label for="">Teléfono:</label>
                            <input type="text" value="12345567655" class="group-input-select">
                            <p class="text-title-p">Sucursal: fuentes 123</p>
                        </div>
                        <button class="btn-all">Continuar</button>
                    </div>
                </div>
                <div class="container-three-form">
                    <div class="title-first-form">
                        <h1 class="title-form-h1">3.- Métodos de Pagos</h1>
                    </div>
                    <div class="container-form-text">
                        <div class="box-input">
                            <h3>Tarjeta de crédito o débito   <i class="fa-brands fa-cc-mastercard"></i> <i class="fa-brands fa-cc-visa"></i> <i class="fa-brands fa-cc-amex"></i></h3>
                            <label for="">Número de tarjeta</label>
                            <input type="number" class="group-input-select" placeholder="1234 1234 1234 1234">
                            <div class="inputs-row">
                                <div class="input-two">
                                    <label for="">Vencimiento</label>
                                    <input type="date" class="litle-inputs">
                                </div>
                                <div class="input-two">
                                    <label for="">Código de seguridad</label>
                                    <input type="number" class="litle-inputs"placeholder="123">
                                </div>
                            </div>
                            <label for="">Nombre del titular como aparece en la tarjeta</label>
                            <input type="text" class="group-input-select" placeholder="María López">
                            <label for="">Documento del titular</label>
                            <input type="number" class="group-input-select" placeholder="999999999">
                            <h3>Completá tu información</h3>
                            <label for="">E-mail</label>
                            <input type="email" class="group-input-select" placeholder="ejemplo@email.com">
                        </div>
                        <button class="btn-all">Pagar</button>
                    </div>
                </div>
            </div>
            <div class="container-right">
                <div class="title-top-between-botom">
                    <p class="p-top-betw-bo">3 Articulos</p>
                    <p class="p-top-betw-bo">Mostrar detalles<i class="fa-solid fa-chevron-down"></i></p>
                </div>
                <div class="container-articles">
                    <article class="articles-cart">
                        <img src="/images/productos/piano.png" alt="">
                        <p class="name-product">Nombre y Caracteristica del producto</p>
                        <p class="text-count">x 1</p>
                        <p class="price-text">$0.00</p>
                    </article>
                    <a href="#" class="link-update"><i class="fa-regular fa-pen-to-square"></i>Modificar</a>
                </div>
                <div class="title-top-between-botom">
                    <p class="p-top-betw-bo">Transporte</p>
                    <p class="p-top-betw-bo">$0.00</p>
                </div>
                <div class="title-top-between-botom">
                    <p class="p-top-betw-bo">Total</p>
                    <p class="p-top-betw-bo">$0.00</p>
                </div>
            </div>
        </div>
    </div>
        <%- include('./partials/footer') %>
</body>

</html>