<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Arpeggio Music</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/about.css">
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <div class="text-container">
                <h1>Política de privacidad</h1>
                <h2>Arpeggio Music</h2>
                <p>
                    Este sitio web recoge datos personales para alimentar las funciones de análisis del sitio, entre las
                    que se incluyen las siguientes:
                    Información sobre tu navegador, red y dispositivo
                    Las páginas web que hayas visitado antes de ingresar en este sitio
                    Tu dirección IP
                    Esta información también puede incluir detalles de cómo usas este sitio web, incluidos los
                    siguientes:
                    <br>
                    Clics
                    Enlaces internos
                    Páginas que visitaste
                    Desplazamientos
                    Búsquedas
                    Marcas de tiempo
                    Compartimos esta información con Squarespace, nuestro proveedor de servicios de análisis del sitio
                    web, para informarnos sobre el tráfico y la actividad en el sitio. <br>
                </p>
            </div>
        </main>
        <%- include('./partials/footer') %>
</body>

</html>