<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Arpeggio Music</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/shipping.css">
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class="container">
            <p>
                <h1>ENVÍOS</h1>
                <h2>COSTO DE ENVÍOS</h2>
                El costo de envío tradicional es de $1200. ENVÍOS GRATIS en compras mayores a $35.000.
                El costo de envío Express a domicilio es de $1700. 
                El costo de los envíos a sucursales Andreani es de $1200.  ENVÍOS GRATIS en compras mayores a $35.000.
                Del 01/05/2023 al 31/05/2023 ENVÍOS GRATIS locales.
                <b>Para retirar tu pedido por algunas de nuestras sucursales, deberás presentar la factura junto con tu DNI. 
                Si retira una persona que no es titular de la compra, deberás gestionar previamente la autorización del retiro.</b> 
                <h2>CUÁNTO DEMORA LA ENTREGA (Domicilio / Locales)</h2>
                ° Para Capital Federal y GBA el tiempo estimado es de 2 a 4 días hábiles.
                ° Para el interior del país el tiempo estimado es de 5 a 7 días hábiles.
                El tiempo estimado se calcula a partir de las 48hs hábiles posteriores a la fecha de compra.
                Los tiempos son aproximados y pueden variar considerando la hora en que se procesó la compra, si lo realizó un feriado o bien un fin de semana.
                ° No realizamos envíos a Tierra del Fuego.  
            </p>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>