<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h4>Términos y condiciones</h4>
            <p class="text-footer">Condiciones de pagos</p>
            <p class="text-footer">Problemas de envios, compras</p>
            <p class="text-footer">Preguntas Frecuentes</p>
            <p class="text-footer">Botón de arrepentimiento</p>
        </div>
        <div class="footer-section">
            <h4>Redes sociales</h4>
            <p class="text-footer"><i class="fa-brands fa-instagram"></i>Instagram</p>
            <p class="text-footer"><i class="fa-brands fa-facebook"></i>Facebook</p>
            <p class="text-footer"><i class="fa-brands fa-twitter"></i>Twitter</p>
            <p class="text-footer"><i class="fa-brands fa-tiktok"></i></i>tiktok</p>
        </div>
        <div class="footer-section" >
            <h4>Contacto</h4>
            <p class="text-footer"><i class="fa-brands fa-whatsapp"></i>00-0000-0000</p>
            <p class="text-footer"><i class="fa-solid fa-envelope"></i>arpeggiomusic@gmail.com</p>
            <p class="text-footer">Sucursales</p>
        </div>
    </div>
    <div id="footer-copyright">
        <p  class="text-copyright">Copyright 1000-0000 ArpeggioMusic</p>
        <a href=""  class="text-copyright">Políticas de privacidad</a>
    </div>
</footer>